﻿
    <section class="well" style="padding-top:0px">
    <h4 class="ra-well-title"><img src="~/Content/web/Icons/New Friend_24.gif" accesskey="" />Relatives</h4>
    <div id="det" name="det"></div>

    @(Html.Kendo().Grid<TelerikMvcApp1.Models.Relative>()
    .Name("Relatives")
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName).Title("First Name").Width(120);
        columns.Bound(p => p.LastName).Title("Last Name").Width(120);
        columns.Bound(p => p.SameAddress).Title("Lives With").Width(60);
        columns.Bound(p => p.IsDependent).Width(60);
        columns.Command(commands =>
        {
            commands.Edit();
            commands.Destroy();
        }).Title("Commands").Width(300);

    })
            .HtmlAttributes(new { style = "height:300px;" })
    .Sortable()
    .Scrollable(scr => scr.Height(230))
    .Filterable()
            .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(s=> {
                s.Height(400);
                s.Width(400);
                s.Title("Edit Relative");
            }
            ).TemplateName("Relative"))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Read(read => read.Action("Persons_Read", "Grid"))
                    .Model(m =>
                    {
                        m.Id(p => p.Id);
                    })
                .Create(create => create.Action("Create_Relative", "Grid"))
                .Update(update => update.Action("Update_Relative", "Grid"))
        .Destroy(destroy => destroy.Action("Persons_Destroy", "Grid"))

     )
     .Selectable()
     .Events(e =>
         {
             e.Change("updateRelative"); 
             e.Edit("renameWindow");
         })
     )
</section>
<section class="well" style="padding-top:0px">
    <h4 class="ra-well-title"><img src="~/Content/web/Icons/New Friend_24.gif" accesskey="" />Contacts</h4>
    <div id="det" name="det"></div>

    @(Html.Kendo().Grid<TelerikMvcApp1.Models.Contact>()
    .Name("Contacts")
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName).Title("First Name").Width(130);
        columns.Bound(p => p.LastName).Title("Last Name").Width(130);
        columns.Command(commands =>
        {
            commands.Edit();
            commands.Destroy();
        }).Title("Commands").Width(250);

    })
            .HtmlAttributes(new { style = "height:250px;" })
    .Sortable()
    .Scrollable(scr => scr.Height(180))
    .Filterable()
                    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Contact"))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Read(read => read.Action("Persons_Read1", "Grid"))
                    .Model(m =>
                    {
                        m.Id(p => p.Id);
                    })
                .Create(create => create.Action("Create_Contact", "Grid"))
                .Update(update => update.Action("Update_Contact", "Grid"))
        .Destroy(destroy => destroy.Action("Persons_Destroy", "Grid"))

     )
    )
</section>

    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            here
            @*<h2>#= FirstName # #= LastName #</h2>
                <dl>
                    <dt>City: #= IsDependent #</dt>
                    <dt>Address: #= SameAddress #</dt>
                </dl>*@
        </div>
    </script>

    <script type="text/javascript">
        var detailsTemplate = kendo.template($("#template").html());

        function updateRelative(e)
        {
            alert('here2');
            
        }
        function renameWindow(e)
        {
            alert('here');
        }

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            //alert(dataItem);
            det.html(dataItem);
        }
    </script>
