﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/SmartyStreets.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/SmartyStreetsOverride.css")" rel="stylesheet" type="text/css" />









    
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script type="text/javascript" src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/2.6/jquery.liveaddress.min.js"> </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OH Next Generation", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink("Home", "Default", new { controller = "Home", action = "Index" })</li>
                    <li>@Html.RouteLink("About", "Default", new { controller = "Home", action = "About" })</li>
                    <li>@Html.RouteLink("Contact", "Default", new { controller = "Home", action = "Contact" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="horizontal" name="horizontal" class="container-fluid fill">
        <div class="fixed">
            <nav class="navbar navbar-default" role="navigation">
                @RenderSection("LeftMenu", required: false)
           </nav>
        </div>
        <div class="hero-unit filler">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p>fixed bottom footer</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    html {
        overflow-y: hidden;
    }

    #displayContent {
        overflow-x: hidden;
        height: 100%;
    }

    .k-grid {
        height: calc(100% - 140px);
        min-height: 250px;
    }

    .k-grid-content {
        height: calc(100% - 100px) !important;
        min-height: 250px;
    }

    #treeview .k-sprite {
        background-image: url("../Content/web/treeview/coloricons-sprite.png");
    }

    .k-tabstrip {
        height: 800px;
        min-height: 250px;
    }

        .k-tabstrip > div.k-content {
            height: calc(100% - 50px) !important;
            min-height: 250px;
        }


            .k-tabstrip > div.k-content > div.k-grid {
                height: calc(100% - 20px);
            }
    /*.k-tabstrip>div.k-content>div.k-grid>div.k-grid-content {
                     height: calc(100% - 40px) !important;

    }*/
    .k-pane {
        overflow-x: hidden !important;
    }

    #locationVolunteerHolderDiv {
        float: left;
        display: inline-block;
        min-height: 850px;
        height: 850px;
    }

    #newCollectionEventForm {
        min-width: 300px;
        width: 30%;
        max-width: 30%;
        display: inline-block;
        float: left;
        line-height: 1.6em;
        padding: 10px;
    }

        #newCollectionEventForm > input, #newCollectionEventForm > select, #newCollectionEventForm > textarea {
            min-width: 280px;
        }

    .field-validation-error {
        color: red;
    }
    /* CSS for fixed-fluid layout */
    html, body {
        height: 100%;
    }

    .row-fluid {
        min-height: 100%;
    }

    .fill {
        min-height: 100%;
    }


    /* CSS to ensure sidebar and content are same height (optional) */


    .filler:after {
        background-color: inherit;
        bottom: 0;
        content: "";
        height: auto;
        min-height: 850px;
        left: 0;
        margin: inherit;
        right: 0;
        position: absolute;
        top: 0;
        width: inherit;
        z-index: -1;
    }

    .k-splitbar .k-icon.k-collapse-prev {
        background: url('//...'); /*specify the icon url*/
        width: 15px; /*specify the icon width */
        height: 15px; /*specify the icon height */
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 20px; /*specify the width of the horizontal splitbar*/
    }

    .k-splitbar-vertical {
        height: 20px; /*specify the height of the vertical splitbar*/
    }
</style>

<script>
    $(document).ready(function () {
        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false },
                { collapsible: false, size: "100px" }
            ]
        });

        $("#horizontal").kendoSplitter({
            panes: [
                { collapsible: true, size: "300px" },
                { collapsible: false }
            ]
        });
    });
</script>



<script>
    $(document).ready(function () {
        //stick in the fixed 100% height behind the navbar but don't wrap it
        $('#slide-nav.navbar .container').append($('<div id="navbar-height-col"></div>'));

        // Enter your ids or classes
        var toggler = '.navbar-toggle';
        var pagewrapper = '#page-content';
        var navigationwrapper = '.navbar-header';
        var menuwidth = '100%'; // the menu inside the slide menu itself
        var slidewidth = '80%';
        var menuneg = '-100%';
        var slideneg = '-80%';


        $("#slide-nav").on("click", toggler, function (e) {

            var selected = $(this).hasClass('slide-active');

            $('#slidemenu').stop().animate({
                left: selected ? menuneg : '0px'
            });

            $('#navbar-height-col').stop().animate({
                left: selected ? slideneg : '0px'
            });

            $(pagewrapper).stop().animate({
                left: selected ? '0px' : slidewidth
            });

            $(navigationwrapper).stop().animate({
                left: selected ? '0px' : slidewidth
            });


            $(this).toggleClass('slide-active', !selected);
            $('#slidemenu').toggleClass('slide-active');


            $('#page-content, .navbar, body, .navbar-header').toggleClass('slide-active');
        });


        var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';


        $(window).on("resize", function () {

            if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
                $(selected).removeClass('slide-active');
            }
        });
    });
</script>