﻿@*@using OH.Helpers.Html
@model List<OH.UmbracoContent.Models.Accreditation>
<div class="accreditations">
    @foreach (var acc in Model) {
        <a class="image-link" href="@Html.SetScheme(acc.WebSite)" target="_blank">
            <img class="accreditation-image color-on-hover" src="@Html.SetScheme(acc.Logo.Src.Url(ImageGenHelper.ImageGenOption.GrayScale))" 
                 data-grayscale="@Html.SetScheme(acc.Logo.Src.Url(ImageGenHelper.ImageGenOption.GrayScale))" 
                 data-color="@Html.SetScheme(acc.Logo.Src.Url(ImageGenHelper.ImageGenOption.Color))"  alt="accreditation" />
        </a>
    }
</div>*@