﻿@using OH.Helpers.Html
@using OH.Helpers.Strings
@using OHv4.Models.BusinessOrg
@using OH.UmbracoContent.Models
@{
    var accreditations = ViewBag.Accreditations as List<Accreditation>;
    var office         = ViewBag.NationalOffice as Office;
    var smLinks        = ViewBag.SmLinks as SocialMediaLinks;

    if (office == null) {
        office = new Office();
    }

    var address = office.PhysicalAddress.Address1 + (!String.IsNullOrEmpty(office.PhysicalAddress.Address2) ? ", " + office.PhysicalAddress.Address2 : "");

    if (office.DisplayPostalAddress) {
        address = office.PostalAddress.Address1 + (!String.IsNullOrEmpty(office.PostalAddress.Address2) ? ", " + office.PostalAddress.Address2 : "");
    }
}
<div class="footer gray-background" style="display:flex ">
    <div class="page-margin-wrapper">
        <div class="footer-contact-info">
            <div class="address">
                @address<br />
                @if (office.DisplayPostalAddress) {
                    @String.Format("{0}, {1}  {2}", office.PostalAddress.City, office.PostalAddress.State, office.PostalAddress.Zip5)
                }
                else {
                    @String.Format("{0}, {1}  {2}", office.PhysicalAddress.City, office.PhysicalAddress.State, office.PhysicalAddress.Zip5)
                }
                <br />
                Phone: @office.BusinessPhoneFormatted
            </div>
            <div class="copyright">&copy; @DateTime.Now.Year.ToString() Operation Homefront, All Rights Reserved.</div>
        </div>
        <div class="contact-info">
            <table cols="2" style="width:100%">
                <tbody>
                    <tr>
                        <td class="label">General information questions:</td>
                        <td class="phone">@office.BusinessPhoneFormatted</td>
                    </tr>
                    <tr>
                        <td class="label">Emergency financial assistance:</td>
                        <td class="phone">@("EmergencyAssistanceLine".GetAppSetting().StripNonNumeric().ToPhone())</td>
                    </tr>
                </tbody>
            </table>
        </div>
    @*@Html.Partial("_Accreditations", accreditations)*@

    <div class="social-icons">
        @if (smLinks != null) {
            if (!String.IsNullOrEmpty(smLinks.Facebook)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Facebook)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/facebook_32_grayscale.png"
                         data-grayscale="/Images/SocialMedia/facebook_32_grayscale.png"
                         data-color="/Images/SocialMedia/facebook_32.png" alt="facebook-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Twitter)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Twitter)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/twitter_32_grayscale.png"
                         data-grayscale="/Images/SocialMedia/twitter_32_grayscale.png"
                         data-color="/Images/SocialMedia/twitter_32.png" alt="twitter-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Pinterest)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Pinterest)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/pinterest-logo-grayscale.png"
                         data-grayscale="/Images/SocialMedia/pinterest-logo-grayscale.png"
                         data-color="/Images/SocialMedia/pinterest-logo-color.png" alt="facebook-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Wordpress)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Wordpress)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/wordpress_32_grayscale.png"
                         data-grayscale="/Images/SocialMedia/wordpress_32_grayscale.png"
                         data-color="/Images/SocialMedia/wordpress_32.png" alt="wordpress-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Youtube)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Youtube)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/youtube_32_grayscale.png"
                         data-grayscale="/Images/SocialMedia/youtube_32_grayscale.png"
                         data-color="/Images/SocialMedia/youtube_32.png" alt="youtube-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Flickr)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Flickr)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/flickr_32_grayscale.png"
                         data-grayscale="/Images/SocialMedia/flickr_32_grayscale.png"
                         data-color="/Images/SocialMedia/flickr_32.png" alt="flickr-icon" />
                </a>
            }
            if (!String.IsNullOrEmpty(smLinks.Shopping)) {
                <a class="image-link" href="@Html.SetScheme(smLinks.Shopping)" target="_blank">
                    <img class="color-on-hover" src="/Images/SocialMedia/carticon-bw.png"
                         data-grayscale="/Images/SocialMedia/carticon-bw.png"
                         data-color="/Images/SocialMedia/carticon.png" alt="shopping-cart-icon" />
                </a>
            }
        }
    </div>
</div>

</div>