﻿@using OH.Helpers.Strings
<div class="header" style="white-space:nowrap">
    <div class="top-of-header gray-background" id="subHeader" style="height:20px;position:absolute;width:100%;z-index:1000">
        <span style="height:20px">Go to <a href="http://www.operationhomefront.net">www.operationhomefront.net</a></span>
        <span style="display:inline-block;float:right;top:-1px;padding-right:100px;position:relative">@Html.Partial("_LoginPartial")</span>
    </div>
        <div id="big-blue-bar" style="padding-top:40px">
            <div class="page-margin-wrapper" style="margin-left: auto;margin-right: auto;width: 70%;">
                <a href="@Url.Action("Index", "Home")"><img id="logo" src="/Images/OH-logo-shadow.png" alt="OH Logo" /></a>
                <span id="title">My Operation Homefront</span><br />
            </div>

        </div>
    </div>