﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        

        @*
         * Jquery and base CSS
         *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/base")
        @Scripts.Render("~/bundles/Kendo")

        @Styles.Render("~/Content/css/base")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/kendo/css")
        @Styles.Render("~/Content/css/HomePage")
          @*
         * Css for the rendered page
         *@
        @RenderSection("styles", required: false)
    </head>
    <body>
        @Html.Partial("_Header")
        <div class="page-margin-wrapper">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        @*
         * Base JavaScript
        * JavaScript for the rendered page
        *@
        @RenderSection("scripts", required: false)
    </body>
</html>
