﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/base")
        @Scripts.Render("~/bundles/Kendo")

        @Styles.Render("~/Content/css/base")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/kendo/css")
        @RenderSection("styles", required: false)
    </head>
    <body>
        @Html.Partial("_Header")
             <div class="left-margin">&nbsp;</div>
           
            <div class="navbar-left " style="position:inherit;max-width:100%;max-height:100%; ">
                <ul class="left-navigation" style="height:750px;padding-top:20px">
                    <li>Dashboard</li>
                    <li>Profile</li>
                    <li>Registrations</li>
                </ul>
            </div>
            @*<div class="left-nav-gradient">&nbsp;</div>*@
        <div class="container">
            @RenderBody()
        </div>

        @*@Html.Partial("_Footer")*@
        
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            window.onload = function () {
                var navColHeight = $(".left-navigation").outerHeight(true);
                $(".left-navigation").height(navColHeight + 20);
            };
        </script>
    </body>
</html>