﻿@using System.Web.UI.WebControls
@using Aspose.Cells
@using OH.Net.Code.viewModels
@model vmWorkflowAccountCreate
@{

    Layout = "";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Ajax.BeginForm("Register", "Program",null,
    new AjaxOptions
    {
        OnBegin = "showSpinner",
        InsertionMode = InsertionMode.Replace, 
        HttpMethod = "POST",
        OnSuccess = "updateSuccess"
    }, new {id = "myFormId", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <h4 style="padding-left:20px;padding-right:30px;text-align:center ">Tell us a little about yourself so we can help you get your profile set up.</h4>
    </div>
    <div>
        <table style="width:auto">
            <tbody>
                <tr><td colspan="2" style="padding:10px">@(Html.Kendo().DropDownListFor(m => m.ProfileSelected1)
                                                               .DataTextField("InternalName")
                                                               .DataValueField("InternalValue")
                                                               .OptionLabel("Select an option")
                                                               .HtmlAttributes(new { style = "width: 370px" })
                                                               .BindTo(Model.ProfileSelector1)
                                                                .Events(e => e.Select("profile1Change"))
                                                                )</td></tr>
                <tr><td colspan="2" style="padding:10px">@(Html.Kendo().DropDownListFor(m => m.ProfileSelected2)
                                                               .DataTextField("InternalName")
                                                               .DataValueField("InternalValue")
                                                               .OptionLabel("Select an option")
                                                               .HtmlAttributes(new { style = "width: 370px" })
                                                               .DataSource(source =>
                                                               {
                                                                   source.Read(read =>
                                                                   {
                                                                       read.Action("FilteredSubList", "Program/Dialog")
                                                                           .Data("filterOptions");
                                                                   })
                                                                       .ServerFiltering(true);
                                                               })
                                                               .Enable(false)
                                                               .AutoBind(false)
                                                               .CascadeFrom("ProfileSelected1")
                                                                .Events(e => e.Select("profile2Change"))
                                                               )</td></tr>
                <tr><td colspan="2" style="vertical-align:top; padding:10px">@Html.EditorFor(m => m.vmRegister.Email)</td></tr>
                <tr><td style="vertical-align:top;padding-left:10px;padding-top:10px;padding-bottom:10px">@Html.EditorFor(m => m.vmRegister.Password)</td><td style="vertical-align:top;padding-left:10px;padding-top:10px;padding-bottom:10px">@Html.EditorFor(m => m.vmRegister.ConfirmPassword)</td></tr>
                <tr><td colspan="2" style="vertical-align:top;padding:10px"><button id="login-submit-1" class="k-button">Submit</button><div id="message1" style="text-wrap:normal width:200px;position:static;left:80px;top:-35px"></div></td></tr>
            </tbody>
        </table>
        <span class="k-invalid-msg" data-for="Status"></span>
        <div style="display:none" id="confirmDiv">
            <table style="width:auto">
                <tbody>
                    <tr><td colspan="2" style="vertical-align:top;padding:10px;text-align:center">Please enter the confirmation code that was sent to your email.</td></tr>
                    <tr><td style="vertical-align:top;padding:10px">@Html.EditorFor(m => m.ConfirmationCode)</td><td style="vertical-align:top;padding:10px"><button type="submit" id="login-submit-2" class="k-button" value="Continue">Continue</button> or <span class="k-button" id="clickme1">Resend Code</span></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="spin" class="k-loading-mask" style="display:none;width:400px;height:300px;position:absolute;top:0px">
        <span class="k-loading-text">Loading...</span>
        <div class="k-loading-image">
            <div class="k-loading-color">
            </div>
        </div>
    </div>
    <span id="staticNotification"></span>
}
<script>
    //$('input:radio[name=RadioGroup0]').click(function () {
    //    var val = $('input:radio[name=RadioGroup0]:checked').val();
    //    var value = $(this).val();
    //    alert(value);
    //});

    var staticNotification = $("#staticNotification").kendoNotification({appendTo: "#window"}).data("kendoNotification");
    $("#login-submit-1").kendoButton();

    $("#login-submit-1").bind("click", function(){
        //var s = $("#myFormId").validate();
        mescript();
        mescript1();
    });

    function showSpinner(){
        $("#spin").show();
    }
    
    function mescript(){
        var dropdownlist1 = $("#ProfileSelected1").data("kendoDropDownList");
        if (dropdownlist1.value() == ""){
            $("#ProfileSelected1").closest(".k-widget").css("border", "1px solid crimson");
            staticNotification.show("Please correct the highlighted area", "info");
        }
    }

    function mescript1(){
        var dropdownlist1 = $("#ProfileSelected2").data("kendoDropDownList");
        if (dropdownlist1.value() == ""){
            $("#ProfileSelected2").closest(".k-widget").css("border", "1px solid crimson");
        }
    }

    function updateSuccess(data, status, xhr){
        var testfor = false;
        var testfor1 = false;
        var messages;
        var newurl;
        $("#spin").hide();
        $.each(data, function (state, message){
            
            if (state == "Success" && message == 1){
                $("#login-submit-1").kendoButton({
                    enable: false
                });
                $("#confirmDiv").show();
            }
            if (state == "Success" && message == 3){
                testfor1 = true;
                //alert('stop');
                //$("#message1").html("Error with model");
            }
            if (state == "Success" && message == 0){
                testfor = true;
                //alert('here');
            }
            if (testfor == true) {
                messages = message;
            }
            if (testfor1 == true) {
                newurl = message;
            }
            //alert(message + " l:" + message);
        });

        if (testfor) {
            if (messages == "Modelstate error"){
                //assume it's the dropdown boxes
                $("#ProfileSelected1").closest(".k-widget").css("border", "1px solid crimson");
                $("#ProfileSelected2").closest(".k-widget").css("border", "1px solid crimson");
            }
            else
            {
                staticNotification.show(messages, "info");
            }
        }

        if (testfor1){
            window.location = newurl;
        }

        // Here's where you use the JSON object
        //doSomethingUseful(data);
    }


</script>
<style>
    .no-border {
        border: 1px solid crimson;
    }
     .k-tooltip {
         background: darkgray !important;
         width: 400px;
         height: 80px;
         position: relative;
         left: 50px;
     }
    #vmRegister_Email
    {
        width: 370px;
    }
    #ConfirmationCode
    {
        width: 120px;
    }

    #vmRegister_Password {
        width: 175px;
    }
    #vmRegister_ConfirmPassword {
        width: 175px;
    }
    #vmRegister_ConfirmPassword-error {
        position: relative;
        word-wrap: break-word;
        display: flex;
        max-width: 170px;
    }
</style>