﻿@using Aspose.Cells
@using OH.Net.Models
@using Kendo.Mvc.UI;
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="home-page-image">
    <img src="/Images/father-son.png" alt="father-son image" class="autoscale" />
</div>
<div class="login-panel">
    <div class="login-bottom-layer side"></div>
    <div class="login-top-layer side">
        <div id="login" class="side-contents">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            { 
                @Html.AntiForgeryToken()
                <table cols="2" style="padding-left:20px">
                    <tbody>
                        <tr>
                            <td style="padding-left:8px;text-align:center"><h5>Log Into Your Profile</h5></td>
                            <td rowspan="5" style="padding-left:10px;padding-right:10px"><img src="~/Content/Web/ORlightgray.png" style="height:150px" /></td>
                            <td rowspan="5">
                                <div class="oauth-login-buttons">
                                    <button class="k-button k-info-colored facebook login-facebook">Login with Facebook</button>
                                    <button class="k-button k-info-colored twitter login-twitter">Login with Twitter</button><br />
                                    <button class="k-button k-info-colored google login-google">Login with Google</button><br />
                                    <button class="k-button k-info-colored microsoft login-windows-live">Login with Microsoft</button><br />
                                </div>
                            </td>
                        </tr>
                        <tr><td style="padding-left:8px">@Html.EditorFor(m => m.Email)</td></tr>
                        <tr><td style="padding-left:8px">@Html.EditorFor(m => m.Password)</td></tr>
                        <tr><td style="padding-left:8px"><h6 style="margin: 10px 0"><a onclick=" ShowForgotPassword(); ">I forgot my password.</a></h6></td></tr>
                        <tr><td style="padding-left:8px;text-align:center"><button  id="login-submit" class="k-button">Login</button></td></tr>
                        @*<tr><td><h6>E-mail address changed?  <a onclick=" ShowUpdateEmailAddress(); ">Update it here.</a></h6></td></tr>*@
                        <tr>
                            <td  colspan="3" >
                                <hr style="color:#ebebeb"/>
                                <div class="center">
                                    Don't have a profile?&nbsp;
                                    @*<h6><a href="@Url.Action("Inside", "Home")">Create one!</a></h6>*@
                                    @*<li>@Html.ActionLink("Create One!", "Create One!", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                                    <span class="k-button" id="addButton">Create One!</span>
                                </div>
                                <div class="center">Has your e-mail address changed?  <a onclick="ShowUpdateEmailAddress2();">Update it here.</a></div>
                            </td>
                        </tr>
                        <tr><td>@*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-message" }) @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-message" })*@</td></tr>

                    </tbody>
                </table>
            }
        </div>
        <div id="forgot-password-id" class="side-contents hidden">
            <h5 style="margin: 10px 0 8px">What's my password?</h5>
            <p>Enter the e-mail address associated with your My Operation Homefront profile, then click Submit.  We'll email you a link to a page where you can easily create a new password</p>
            <input id="password-reset-email-address" type="email" placeholder="Email Address" style="width: 70%; margin: 5pt 0" />
            <p style="margin-top: 6pt;">Has your e-mail address changed?  <a onclick="ShowUpdateEmailAddress2();">Update it here.</a></p>
            <div class="center" style="margin-top: 6pt;">
                <button id="submit-password-reset" onclick="SubmitPasswordReset();">Submit</button>&emsp;&emsp;<button id="cancel-password-reset" onclick="CancelPasswordReset();">Cancel</button>
            </div>
        </div>
        <div id="email-update-id" class="side-contents hidden">
            <h5 style="margin: 10px 0 8px;">Email Update</h5>
            <label>What is your old email address?</label>
            <input id="old-email-address" type="email" placeholder="Email Address" /><br />

            <label>What is your password?</label>
            <input id="password" type="password" placeholder="Password" /><br />

            <label>What is your new email address?</label>
            <input id="new-email-address" type="email" placeholder="New email address" /><br />

            <label>Enter new email address again.</label>
            <input id="verify-new-email-address" type="email" placeholder="Re-enter new email address" /><br />

            <div class="center" style="margin-top: 4pt;">
                <button id="submit-email-change" onclick="SubmitEmailChange();">Submit</button>&emsp;&emsp;<button id="cancel-email-change" onclick="CancelEmailChange();">Cancel</button>
            </div>
        </div>
    </div>
    @(Html.Kendo().Window()
        .Name("window")
        .Width(415)
        .Title("Need a Profile?")
        .Actions(actions => actions.Close())
            //.Content(@Html.Partial("_RegisterPartial").ToHtmlString())
        .LoadContentFrom("Register", "Account")
                .HtmlAttributes(new {style = "height:auto;"})
        .Modal(true)
        .Visible(false)
    )
</div>

<span id="popupNotification"></span>

<style>
    .autoscale {
        max-width:100%; 
        max-height:100%;
        margin:auto;
        display:block;
    }
</style>

<script type="text/javascript">
    
    function requestStart(e) {
        e.options.data = {
            id: e.target.data("id")
        }
    }
    function filterOptions() {
        return {
            id: $("#ProfileSelected1").val()
        };
    }
    function profile1Change() {
        $("#ProfileSelected1").closest(".k-widget").css("border", "none");
    }
    function profile2Change() {
        $("#ProfileSelected2").closest(".k-widget").css("border", "none");
    }
</script>
    <script type="text/javascript">
        
        var notificationWidget;
        var login_forgotPassword = kendo.fx("#container").flipHorizontal($("#login"), $("#forgot-password-id")).duration(1000);
        var login_emailUpdate = kendo.fx("#container").flipHorizontal($("#login"), $("#email-update-id")).duration(1000);

        $("#addButton").bind("click", function ()
        {
            $("#window").data("kendoWindow").title("Need a Profile?").center().open();
        });

        $(document).ready(function() {
            var window = $("#window").data("kendoWindow");
            //
            // Set up notification messages
            //
            
            $("#addButton").bind("click", function () {
                window.center();
                window.open();
            });

            notificationWidget = $("#popupNotification").kendoNotification({
                allowHideAfter: 2000, // Allow hide after 2 seconds
                autoHideAfter: 8000, // Hide automatically after 8 seconds
                animation: {
                    open: {
                        effects: "slideIn:up fadeIn",
                        duration: 500
                    },
                    close: {
                        efects: "slideIn:up fadeIn",
                        reverse: true
                    }
                }
            }).data("kendoNotification");

            //
            // Set up login buttons
            //
            $(".login-facebook").kendoButton({
                imageUrl: "/images/fb-icon-sm.png"
            });
            $(".login-twitter").kendoButton({
                imageUrl: "/images/twitter-icon-sm.png"
            });
            $(".login-google").kendoButton({
                imageUrl: "/images/google-icon-sm.png"
            });
            $(".login-windows-live").kendoButton({
                imageUrl: "/images/windows-live-icon-sm.png"
            });
            $("#submit-password-reset").kendoButton({});
            $("#cancel-password-reset").kendoButton({});
            $("#submit-email-change").kendoButton({});
            $("#cancel-email-change").kendoButton({});
        });
       
        /*
         * Forgot Password
         */
        function ShowForgotPassword() {
            login_forgotPassword.stop().play();
        }

        function SubmitPasswordReset() {
            notificationWidget.success("A password reset email has been sent.");
            login_forgotPassword.stop().reverse();
        }

        function CancelPasswordReset() {
            login_forgotPassword.stop().reverse();
        }

        /*
         * Update Email Address
         */
        function ShowUpdateEmailAddress() {
            login_emailUpdate.stop().play();
        }

        function ShowUpdateEmailAddress2() {
            login_forgotPassword.stop().reverse();
            ShowUpdateEmailAddress();
        }

        function SubmitEmailChange() {
            notificationWidget.success("Your email address has been changed.");
            login_emailUpdate.stop().reverse();
        }

        function CancelEmailChange() {
            login_emailUpdate.stop().reverse();
        }
    </script>
