﻿@using System.Collections.ObjectModel
@using Kendo.Mvc.UI
@using OH.BLL.Models.Attachments
@using OH.BLL.Models.Persons
@using OH.BLL.Models.ProgramProfiles.WorkFlow
@using OH.BLL.Services.ProgramProfiles.Caregiver
@using OH.EnumsV4.Common
@using OH.EnumsV4.Hov
@model OH.BLL.Models.ProgramProfiles.Caregiver.ProfileCaregiverViewModel
@{
    //var stepInProcess = Model.Displays.FirstOrDefault(x => x.StepNumber == 1);
   // var s = Model.MilitaryProfile.Attachments.FirstOrDefault();
    //var tes = Model.Submitter.GenderSelector.ListDisplays.Count();
    var obj = ViewData["Selectors"] as ProgramProfileWorkFlowViewModel;
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("SaveInitialCareGiver", "InitialInquiry",FormMethod.Post,
    new { id = "myFormId1", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="s" class="widget" style="display: inline-block; width: 880px; height: auto;">
        <h3>Caregiver Information</h3>
        <table style="padding: 10px 10px; width: 100%;">
            <tbody>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px;padding-left: 10px;vertical-align:top">@Html.EditorFor(m => m.Profile.Person.FirstName)</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(m => m.Profile.Person.Lastname)</td>
                    <td style="padding-right: 10px; padding-top: 10px; vertical-align: top;" rowspan="7">
                        <div id="s1" class="widget" style="width: 435px; height: 120px; display: inline-block; vertical-align: top">
                            <p style="padding: 10px 0 0 10px">
                                <span style="font-size: 12pt; font-weight: bold">Mailing Address</span>
                            </p>
                            @(Html.EditorFor(m => m.Profile.Person.MailingAddress))
                        </div>
                        <p style="height: 5px"></p>
                        <div id="s1" class="widget" style="width: 435px; height: 120px; display: inline-block; vertical-align: top">
                            <p style="padding: 10px 0 0 10px">
                                <span style="font-size: 12pt; font-weight: bold">Physical Address</span>
                            </p>
                            @(Html.EditorFor(m => m.Profile.Person.PhysicalAddress))
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@Html.EditorFor(m => m.Profile.Person.PrimaryPhone.PhoneNumber) @Html.HiddenFor(m => m.Profile.Person.PrimaryPhone.Id)@Html.HiddenFor(m => m.Profile.Person.PrimaryPhone.PhoneType)</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(m => m.Profile.Person.PrimaryEmail.Email) @Html.HiddenFor(m => m.Profile.Person.PrimaryEmail.Id)</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.Profile.Person.Gender)
                                                                                                 .DataTextField("Text")
                                                                                                 .DataValueField("Text")
                                                                                                 .OptionLabel("Gender")
              .BindTo(new SelectList(obj.Selectors.ListGender, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px",Required=true })
                                                                                                 )</td>
                    <td style="padding-right: 10px; padding-top: 10px;">
                        
                        @(Html.Kendo().DropDownListFor(m => m.Profile.AgeRange)
                              .DataTextField("Text")
                                .DataValueField("Value")
                              .OptionLabel("Age")
                              .BindTo(new SelectList(obj.Selectors.ListAgeRange, "Id", "Name"))
                              .HtmlAttributes(new { style = "width:200px", Required = true })
                              )
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.Profile.RelationToVeteran)
                                                                                                 .DataTextField("Text")
                                                                                            .DataValueField("Value")
                                                                                                 .OptionLabel("Relation to Veteran")
                                                                                                    .BindTo(new SelectList(obj.Selectors.ListRelationship, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px", Required = true })
                                                                                                 )</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@(Html.Kendo().DropDownListFor(m => m.Profile.DurationOfTimeProvidingCare)
                                                                              .DataTextField("Text")
                                                                                .DataValueField("Value")
                                                                              .OptionLabel("Duration providing care")
                                                                                .BindTo(new SelectList(obj.Selectors.ListDurationProvidingCare, "Id", "Name"))
                                                                              .HtmlAttributes(new { style = "width:200px", Required = true })
                                                                              )</td>

                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.Profile.HoursProvidingCareWeekly)
                                                                                                 .DataTextField("Text")
                                                                                                 .DataValueField("Value")
                                                                                                 .OptionLabel("Hrs per wk providing care")
                                                                                                .BindTo(new SelectList(obj.Selectors.ListHoursProvidingCare, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px", Required = true })
                                                                                                 )</td>
                    <td style="padding-right: 10px; padding-top: 10px;"></td>

                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px;min-height:30px">@Html.EditorFor(m=>m.Profile.WorkOutsideHome) Work outside the home?</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(m => m.Profile.Occupation) </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px;min-height:30px">@Html.EditorFor(m => m.Profile.HasChildren) Have children?</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(m => m.Profile.HowManyChildren,  @"Custom\Number") </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px; vertical-align: top" colspan="4">What are your hobbies or interests?</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-left: 10px; vertical-align: top" colspan="4">@Html.EditorFor(m => m.Profile.HobbiesOrInterests, @"Custom\TextArea")</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px; vertical-align: top" colspan="4">What is your greatest challenge as a caregiver?<p></p>@Html.EditorFor(m => m.Profile.GreatestChallengeAsCaregiver, @"Custom\TextArea") </td>
                </tr>
                
            </tbody>
        </table>
        <div class="div-table" style="margin-bottom:20px">
            <div class="div-table-row" >
                <div class="div-table-col-span">
                    <div>@Html.EditorFor(m => m.Profile.RegisteredCaregiverWithVa) Are you registered with the Veterans Administration?</div>
                </div>
                <div class="div-table-col" id="vaDoc" style="display:none;margin-left: 5px;width:450px">
                    @Html.EditorFor(m => m.Profile.Attachments, @"Custom\PersonAttachments")
                </div>
                <hr id="vaDocHR" style="display:none"/>
            </div>
        </div>
        <span id="staticNotification"></span>
        <span id="docNotification"></span>
        <div id="spin" class="k-loading-mask" style="display:none;width:100%;height:100%;position:absolute;top:0">
            <span class="k-loading-text">Loading...</span>
            <div class="k-loading-image">
                <div class="k-loading-color">
                </div>
            </div>
        </div>
       
        <div id="testobj" name="textobj"></div>
    </div>
   
    <button id="btnCareGiver"  class="k-button">Next Step</button><div id="errorMessage"></div>
    @Html.HiddenFor(m=>m.Profile.Id)
    @Html.HiddenFor(m => m.Profile.Person.Id)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CaregiverId)
    @*@Html.HiddenFor(m => m.TimeStamp.Id)*@
    @Html.HiddenFor(m=>m.Household.Id)
}
<script>
    profileRegisteredCaregiverWithVa();
    profileWorkOutsideHome();
    profileHowManyChildren();

    $("#Profile_Files").kendoUpload();
    $("#myFormId1").submit(function () {
        showSpinner();
    });
    var staticNotification = $("#staticNotification").kendoNotification({ appendTo: "#errorMessage" }).data("kendoNotification");
    var docNotification = $("#docNotification").kendoNotification({ appendTo: "#vaDoc" }).data("kendoNotification");
    
    $("#Profile_Occupation").hide();
    $("#Profile_HowManyChildren").closest(".k-widget").hide();
    
    $("#Profile_WorkOutsideHome").bind("click", function() {
        profileWorkOutsideHome();
    });
    $("#Profile_HasChildren").bind("click", function() {
        profileHowManyChildren();
    });

    $("#Profile_RegisteredCaregiverWithVa").bind("click", function () {
        profileRegisteredCaregiverWithVa();
        docNotification.show("Please upload an image of your VA PersonCaregiver ID", "Validation");
    });

    function profileRegisteredCaregiverWithVa() {
        var input = $("#Profile_RegisteredCaregiverWithVa");
        $("#vaDocHR").toggle(input.prop("checked"));
        $("#vaDoc").toggle(input.prop("checked"));
    }

    function profileWorkOutsideHome() {
        var input = $("#Profile_WorkOutsideHome");
        $("#Profile_Occupation").toggle(input.prop("checked"));
    }

    function profileHowManyChildren() {
        var input = $("#Profile_HasChildren");
        $("#Profile_HowManyChildren").closest(".k-widget").toggle(input.prop("checked"));
    }
   
    var genError = false;
    function showSpinner() {
        $("#spin").show();
        var form = $("#myFormId1");

        genscript();
        hrsscript();
        relationscript();
        durationscript();
        agescript();
        event.preventDefault();
        $(form).validate();

        if (!$(form).valid() || genError) {
            staticNotification.show("Please correct the highlighted area", "Validation error");
            $("#spin").hide();
            genError = false;
            return false;
        } else {
            $.ajax({
                url: "/Program/InitialInquiry/SaveInitialCareGiver",
                type: "POST",
                data: $(form).serialize(),
                xhrFields: { withCredentials: true },
                success: function (msg) {
                    updateSuccess();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    failure();
                }
            });
            
        }
    }
    function failure() {
        $("#spin").hide();
        genscript();
        hrsscript();
        relationscript();
        durationscript();
        agescript();
        staticNotification.show("There was an error proccessing your request", "Error");
    }
    function updateSuccess() {
        $("#spin").hide();
        var tabStrip1 = $('#etst').kendoTabStrip().data("kendoTabStrip");
        tabStrip1.enable(tabStrip1.tabGroup.children().eq(1), true);
        tabStrip1.select(1);
    }
    function genderChange() {
        $("#Profile_Gender").closest(".k-widget").css("border", "none");
    }
    function genderChangeOn() {
        $("#Profile_Gender").closest(".k-widget").css("border", "1px solid crimson");
    }
    $("#btnCareGiver").bind("click", function () {
        showSpinner();
    });

    $("#Profile_Person_Gender").bind("change", genscript);
    function genscript() {
        var dropdownlist1 = $("#Profile_Person_Gender").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Profile_Person_Gender").closest(".k-widget").css("border", "1px solid crimson");
            genError = true;
        } else {
            $("#Profile_Person_Gender").closest(".k-widget").css("border", "none");
            
        }
    }
    $("#Profile_HoursProvidingCareWeekly").bind("change", hrsscript);
    function hrsscript() {
        var dropdownlist1 = $("#Profile_HoursProvidingCareWeekly").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Profile_HoursProvidingCareWeekly").closest(".k-widget").css("border", "1px solid crimson");
            genError = true;
        }
        else {
            $("#Profile_HoursProvidingCareWeekly").closest(".k-widget").css("border", "none");
        }
    }

    $("#Profile_RelationToVeteran").bind("change", relationscript);
    function relationscript() {
        var dropdownlist1 = $("#Profile_RelationToVeteran").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Profile_RelationToVeteran").closest(".k-widget").css("border", "1px solid crimson");
            genError = true;
        } else {
            $("#Profile_RelationToVeteran").closest(".k-widget").css("border", "none");
        }
    }
    $("#Profile_DurationOfTimeProvidingCare").bind("change", durationscript);
    function durationscript() {
        var dropdownlist1 = $("#Profile_DurationOfTimeProvidingCare").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Profile_DurationOfTimeProvidingCare").closest(".k-widget").css("border", "1px solid crimson");
            genError = true;
        } else {
            $("#Profile_DurationOfTimeProvidingCare").closest(".k-widget").css("border", "none");
        }
    }
    $("#Profile_AgeRange").bind("change", agescript);
    function agescript() {
        var dropdownlist1 = $("#Profile_AgeRange").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Profile_AgeRange").closest(".k-widget").css("border", "1px solid crimson");
            genError = true;
        } else {
            $("#Profile_AgeRange").closest(".k-widget").css("border", "none");
        }
    }
</script>
<style>
    .k-upload {
        vertical-align: top;
        margin: 0 auto !important;
        

    }
     .k-notification-Validation {
         color: crimson;
         border-color: crimson;   
     }
    #ZipClass {
        width: 118px;
    }
    #Submitter_Physical_Address_Zip {
        width: 118px;
    }
    .div-table {
        display:table; 
        /*border:1px solid #003399;*/
        width:100%;
    }
    .div-table-caption {
        display:table-caption; 
        background:#ebebeb;
    }
    .div-table-row {
        clear:both;
        display:table-row;
        padding: 0;
        margin: 0;
        width:100%; 
        border: 1px solid #cccccc;
    }
    .div-table-col {
        clear:both;
        display:inline-block; 
        min-width: 200px;
        max-width: 50%;
        width: 200px;
        margin: auto; 
        padding-left: 10px; 
        padding-top: 10px; 
        /*border: 1px solid #003399;*/
    }
    .div-table-col-span {
        clear:both;
        display:inline-block;
        min-width: 300px;
        max-width: 350px;
        width: 350px;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        /*border: 1px solid #003399;*/
        /*width:50%;*/
        float:left;
    }
    .div-table-col-span2{
        clear:both;
        display:inline-block;
        min-width: 405px;
        max-width: 505px;
        width: 50%;
        margin: 0;
        padding: 0;
        /*border: 1px solid #003399;*/
        float:right;
    }
</style>