﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.ProgramProfiles.WorkFlow
@using OH.EnumsV4.Common
@using OH.EnumsV4.Hov
@model OH.BLL.Models.ProgramProfiles.Military.ProfileMilitaryViewModel

@{
    var obj = ViewData["Selectors"] as ProgramProfileWorkFlowViewModel;
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@*@using (Ajax.BeginForm("SaveInitialServiceMember", "InitialInquiry", null,
    new AjaxOptions
    {
        OnBegin = "showServiceMemberFormSpinner",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnSuccess = "updateServiceMemberFormSuccess",
        OnFailure = "failureServiceMemberForm"
    }, new {id = "ServiceMemberForm", @class = "form-horizontal", role = "form"}))
{*@

    @using (Html.BeginForm("SaveInitialServiceMember", "InitialInquiry", FormMethod.Post, new { id = "ServiceMemberForm", @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div id="s" class="widget" style="display: inline-block; width: 880px; height: auto;">
        <h3>Service Member Information</h3>
        <table style="padding: 10px 10px; width: 100%;">
            <tbody>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@Html.EditorFor(x=>x.MilitaryProfile.MilitaryPerson.FirstName)
                    </td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(x => x.MilitaryProfile.MilitaryPerson.Lastname)</td>
                    <td style="padding-right: 10px; padding-top: 10px; vertical-align: top;" rowspan="7">
                        <div id="s1" class="widget" style="width: 435px; height: 120px; display: inline-block; vertical-align: top">
                            <p style="padding: 10px 0 0 10px">
                                <span style="font-size: 12pt; font-weight: bold">Mailing Address</span>
                            </p>
                            @(Html.EditorFor(m => m.MilitaryProfile.MilitaryPerson.MailingAddress))
                        </div>
                        <p style="height: 5px"></p>
                        <div id="s1" class="widget" style="width: 435px; height: 120px; display: inline-block; vertical-align: top">
                            <p style="padding: 10px 0 0 10px">
                                <span style="font-size: 12pt; font-weight: bold">Physical Address</span>
                            </p>
                            @(Html.EditorFor(m => m.MilitaryProfile.MilitaryPerson.PhysicalAddress))
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@Html.EditorFor(m => m.MilitaryProfile.MilitaryPerson.PrimaryPhone.PhoneNumber) @Html.HiddenFor(m => m.MilitaryProfile.MilitaryPerson.PrimaryPhone.Id)@Html.HiddenFor(m => m.MilitaryProfile.MilitaryPerson.PrimaryPhone.PhoneType)</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.EditorFor(m => m.MilitaryProfile.MilitaryPerson.PrimaryEmail.Email) @Html.HiddenFor(m => m.MilitaryProfile.MilitaryPerson.PrimaryEmail.Id)</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.MilitaryProfile.MilitaryPerson.Gender)
                                                                                                 .DataTextField("Text")
                                                                                                 .DataValueField("Text")
                                                                                                 .OptionLabel("Gender")
                                                                                                 .BindTo(new SelectList(Model.Selectors.Gender, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px", Required = true })
                                                                                                 )</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@Html.Kendo().DatePickerFor(m => m.MilitaryProfile.MilitaryPerson.DateOfBirth)</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.MilitaryProfile.BranchOfServiceId)
                                                                                                 .DataTextField("Text")
                                                                                                 .DataValueField("Value")
                                                                                                 .OptionLabel("Branch of service")
                                                                                                 .BindTo(new SelectList(Model.Selectors.BranchOfService, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px", Required = true }))</td>
                    <td style="padding-right: 10px; padding-top: 10px;">@(Html.Kendo().DropDownListFor(m => m.MilitaryProfile.MilitaryRankId)
                                                                              .DataTextField("Text")
                                                                              .DataValueField("Value")
                                                                              .OptionLabel("Rank")
                                                                              .BindTo(new SelectList(Model.Selectors.Rank, "Id", "Name"))
                                                                              .HtmlAttributes(new { style = "width:200px", Required = true }))</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px">@(Html.Kendo().DropDownListFor(m => m.MilitaryProfile.ServiceStatusId)
                                                                                                 .DataTextField("Text")
                                                                                                 .DataValueField("Value")
                                                                                                 .OptionLabel("Military status")
                                                                                                 .BindTo(new SelectList(Model.Selectors.ServiceStatus, "Id", "Name"))
                                                                                                 .HtmlAttributes(new { style = "width:200px", Required = true }))</td>
                    <td style="padding-right: 10px; padding-top: 10px;"></td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="2">@(Html.EditorFor(m => m.MilitaryProfile.Wounded)) The Wound, Illness, Or Injury Occurred After September 11, 2001</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="2"></td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryTBI) A Traumatic Brain Injury (TBI) 
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryPTSD) Post-Traumatic Stress Disorder (PTSD)
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryAmputee) Any Amputated Hands, Arms, Feet, or Legs 
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryMentalIlliness) Mental Illness (E.G., Depression, Anxiety, Etc.) 
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryParalysis) Paralysis Or Spinal Cord Injury 
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-left: 10px" colspan="3">@Html.EditorFor(m => m.MilitaryProfile.injuryBlindness) Blindness
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: top" colspan="4">Other conditions<p></p>@Html.EditorFor(m => m.MilitaryProfile.injuryOther, @"Custom\TextArea")</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: top" colspan="4">Please Tell Us about the Wound, Illness, or Injury<p></p>@Html.EditorFor(m => m.MilitaryProfile.injuryTelling, @"Custom\TextArea") </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="div-table-col" id="vaDoc" style="margin-left: 5px;width:450px">@Html.EditorFor(m => m.MilitaryProfile.PersonMilitaryAttachments, @"Custom\PersonAttachments")</div>
        </div>
    </div>
    <span id="ServiceMemberStaticNotification"></span>
    <div id="ServiceMemberSpin" class="k-loading-mask" style="display:none;width:100%;height:100%;position:absolute;top:0">
        <span class="k-loading-text">Loading...</span>
        <div class="k-loading-image">
            <div class="k-loading-color">
            </div>
        </div>
    </div>
@*@Html.Partial("~/Views/Category/_Upload.cshtml", Model.MilitaryProfile.Attachments)*@
    <button id="btnServiceMember" class=" k-button"> Next Step</button><div id="ServiceMemberErrorMessage"></div>
    @Html.HiddenFor(m =>m.Id)
    @Html.HiddenFor(m=>m.Household.Id)
    @Html.HiddenFor(m => m.MilitaryProfile.Id)
    @Html.HiddenFor(m => m.MilitaryProfile.MilitaryPerson.Id)
}
<script>
    $("#DOB").kendoDatePicker({
       
    });

    $("#ServiceMemberForm").submit(function () {
        showServiceMemberFormSpinner();

    });
    var staticNotification = $("#ServiceMemberStaticNotification").kendoNotification({ appendTo: "#ServiceMemberErrorMessage" }).data("kendoNotification");
    //$("#btnServiceMember").bind("click", function () {
    //    showServiceMemberFormSpinner();
    //});
   
    var genError = false;
    function showServiceMemberFormSpinner() {
        $("#ServiceMemberSpin").show();
        var form = $("#ServiceMemberForm");

        event.preventDefault();
        $(form).validate();

        if (!$(form).valid() || genError) {
            staticNotification.show("Please correct the highlighted area", "Validation error");
            $("#ServiceMemberSpin").hide();
            return;
        } else {
            $.ajax({
                url: "/Program/InitialInquiry/SaveInitialServiceMember",
                type: "POST",
                data: $(form).serialize(),
                xhrFields: { withCredentials: true },
                success: function (msg) {
                    alert(msg);
                    updateServiceMemberFormSuccess();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error" + textStatus);
                    failureServiceMemberForm();
                }
            });
        }
    }
    function failureServiceMemberForm() {
        $("#ServiceMemberSpin").hide();
        alert('Failure');
    }
    function updateServiceMemberFormSuccess() {
        $("#ServiceMemberSpin").hide();
        alert('here3');
        var tabStrip1 = $('#etst').kendoTabStrip().data("kendoTabStrip");
        tabStrip1.enable(tabStrip1.tabGroup.children().eq(2), true);
        tabStrip1.select(2);
    }
</script>