﻿@using Kendo.Mvc.UI
@using OH.EnumsV4.Common
@using OH.EnumsV4.Hov
@model OH.Net.Code.viewModels.vmInquiryWorkFlowBase
@*@{
    ViewBag.Title = "Program Inquiry";
    Layout = "~/Views/Shared/_OneColumnLeftNav.cshtml";
}*@

<div style="display:inline-block;padding-left:20px;vertical-align:top;">
    <h1 style="font-family:FSP-Bold;color:#083b5a">Inquiry</h1><p style="padding-left:5px;padding-bottom:10px;padding-top:10px"><i>Inquiry description</i></p>
    <hr />
    <div style="position:relative;height:auto;padding-bottom:20px">
        <div style="position:relative;">
            @(Html.Kendo()
            .TabStrip()
            .Name("etst")
            .HtmlAttributes(new {style="width:920px"})
                    .Events(ev =>
                    {
                        ev.Select("onSelect");
                    }
                  )
            .Items(tabstrip =>
            {
                 int count = 0;
                bool selected = false;
                 foreach (var tab in Model.Displays)
                 {
                     count++;
                     Dictionary<string, object> param = new Dictionary<string, object> { { "data-index", count }, { "id", "tabstrip-appearance-header" + count } };
                     tabstrip.Add().Text(tab.SectionName).HtmlAttributes(param)
                     .Enabled(tab.Enabled)
                     .Selected(tab.Selected)
                     .LoadContentFrom(tab.Action,tab.Controller,Model); //remove spaces for action methods
                 }
             }))
    </div>
</div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
<script>
    function onSelect(e) {
        //alert("Selected: " + $(e.item).find("> .k-link").text());
    }
</script>
<style>
    .k-textbox {
        width: 200px;
    }
    
    .k-tabstrip-items .k-state-active .k-link 
    {
        background: url(@Url.Content("~/Images/Background/Blue-Slice.png"));
        padding: 10px 10px;
        height: 20px;
        width: 240px;
        color: #ffffff;
    }
    
    
    
    .k-tabstrip-items .k-state-disabled  {
        font-family: FSP-Bold;
        font-size: 12pt;
        color: #cccccc;
    }
    

    .k-tabstrip-items .k-state-default {
        font-family: FSP-Bold;
        font-size: 12pt;
        color: #cccccc;
    }
    .k-tabstrip-items .k-item {
        border-radius: 5px;
    }
</style>
