﻿<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/Kendo")

    @Styles.Render("~/Content/css/base")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @RenderSection("styles", required: false)
</head>
<body>
<div id="top-head">
    <h1>Report Viewer</h1>
</div>
@RenderBody()
<div id="bottom"></div>
<style type="text/css">
    html,body{height: 100%; width: 100%;}
    </style>

</body>


</html>

