﻿@using OH.BLL.Models.Reports
@model OH.BLL.Models.Reports.HovDashBoard
@*<div style="padding-top: 60px; padding-left: 10px; top: 100px">
        <h3>HOV Administrator Dashboard</h3>
    </div>*@
<style type="text/css">
    * {
        box-sizing: border-box;
    }
    .right-side-area-outer {
        <!-- width: 25%; -->
        float: left;
        background-color: #EFEFEF;
        min-width: 200px;
        min-height: 200px;
    }
    .left-side-area-inner-left {
        float: left;
        background-color: #EFEFEF;
        min-width: 200px;
        min-height: 200px;
    }
    .left-side-area-inner-mid {
        float: left;
        background-color: #EFEFEF;
    }
    .left-side-area-inner-mid-rows {
        clear: both;
        display: inline-block;
        float: left;
        width: 100%;
        margin: 3px;
    }
    .left-side-area-inner-mid-tiles {
        float: left;
        /*opacity: .6;*/
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        width: 30%;
        vertical-align: middle;
    }
    .left-side-area-inner-mid-tiles-label {
        float: left;
        margin-left: 5px;
        padding-bottom: 10px;
        color: #666;
        vertical-align: middle;
    }
    .left-side-area-inner-right {
        width: 35%;
        float: left;
        height: 100%;
        background-color: #EFEFEF;
        min-width: 200px;
        min-height: 200px;
    }
    .social-rows {
        height: 23%;
        border-radius: 8px;
    }
    #social-container {
        height: 100%;
        width: 100%;
    }
    .area-container-left {
        float: left;
        background-color: #EFEFEF;
        border: 1px solid #efefef;
        width: 400px;
        height: 250px;
        min-width: 100px;
        min-height: 200px;
        float: left;
        border-radius: 4px;
    }
    .area-container-right {
        float: left;
        background-color: #EFEFEF;
        width: 350px;
        padding: 10px;
        margin-left: 10px;
        min-width: 150px;
        min-height: 150px;
        float: left;
        border-radius: 4px;
    }
</style>
@{
    var chart = new PieChart();
    chart.ChartName = "HovDashPie";
    chart.ChartTitle = "Hearts of Valor Program";
    chart.ShowLegend = true;
    chart.ShowLabels = false;
    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "Admin", PieDataValue = Model.TotalAdminCareGivers }); //Model.GetAdminRoles() }); //
    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "Support Group Leader", PieDataValue = Model.TotalModeratorCareGivers }); //Model.GetSupportLeaderRoles() });
    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "CareGivers", PieDataValue = Model.TotalLevel1CareGivers }); //Model.GetCareGiverRoles() });
    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "Inquiries", PieDataValue = Model.TotalLevel2CareGivers }); // Model.GetInquiryRoles() });
}
@*<div>
        <h1 style="font-family: FSP-Bold; color: #083b5a">
            Dashboard
        </h1>
    </div>
    <div>
        <div>
            <p style="padding-left: 5px; padding-bottom: 10px; padding-top: 10px">
                <i>View Hearts of Valor program statistics</i>
            </p>
        </div>
    </div>
    <div id="s" class="widget" style="display: inline-block; width: 800px; height: auto; float: left; padding: 0px; margin-top: 20px;">
        <h4>Care Giver Report</h4>
        <div style="width: 900px; height: 600px;margin-left:20px;top:-40px">
            @{ Html.RenderAction("AdminDashboard", "Admin", new { area = "Administrator" }); }
        </div>
    </div>*@
<div style=" margin-left: 20px;">
    <div>
        <h1 style="font-family: FSP-Bold; color: #083b5a">
            HOV Dashboard
        </h1>
    </div>
    <div>
        <div>
            <p style="padding-left: 5px; padding-bottom: 10px; padding-top: 10px">
                <i>View Hearts of Valor program statistics</i>
            </p>
        </div>
    </div>
    <div id="s" class="widget" style="display: inline-block; width: 800px; height: auto; float: left; padding: 0px; margin-top: 20px;">
        <h4>Care Giver Report</h4>
        <div style="width: 900px; height: 600px;margin-left:20px;top:-40px">
            <div class="area-container-left">
                @Html.Partial("/Areas/ReportsArea/Views/_PieChartPartialPage.cshtml", chart)
            </div>
            <div class="area-container-right">
                @{
                    int colorval = 0;
                }
                @foreach (var pieseries in chart.PieChartData)
                {
                    <div class="left-side-area-inner-mid-rows">
                        <div class="left-side-area-inner-mid-tiles" style="background-color: @chart.ColorsDark[colorval]">@pieseries.PieDataValue</div><br />
                        <div class="left-side-area-inner-mid-tiles-label">@pieseries.PieDataCatagory</div><br />
                    </div>
                    colorval += 1;
                }
            </div>
        </div>
    </div>
</div>
    @*<div class="left-side-area-inner-mid-rows">
                <div class="left-side-area-inner-mid-tiles" style=" background-color: #556b2f;">@Model.GetSupportLeaderRoles()</div><br/>
                <div class="left-side-area-inner-mid-tiles-label">Support Group Leader</div><br/>
            </div>

            <div class="left-side-area-inner-mid-rows">
                <div class="left-side-area-inner-mid-tiles" style="background-color: #a52a2a;">@Model.GetAdminRoles()</div><br />
                <div class="left-side-area-inner-mid-tiles-label">Administrators</div><br />
            </div>

            <div class="left-side-area-inner-mid-rows">
                <div class="left-side-area-inner-mid-tiles" style="background-color: #1e90ff;">@Model.GetInquiryRoles()</div><br />
                <div class="left-side-area-inner-mid-tiles-label">Inquiries</div><br />
            </div>

            <div class="left-side-area-inner-mid-rows">
                <div class="left-side-area-inner-mid-tiles" style="background-color: #a9a9a9;">@Model.GetCareGiverRoles()</div><br />
                <div class="left-side-area-inner-mid-tiles-label">Care Givers</div><br />
            </div>
        </div>*@

    @*<div class="area-container">
            <div class="left-side-area-inner-mid-rows">
                <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,229 Contacts</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">2,361 Opens</div>
            </div>
            <div class="left-side-area-inner-mid-rows">
                <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">36 Contacts</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden"></div>
            </div>
            <div class="left-side-area-inner-mid-rows">
                <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,692 Contacts</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden;"></div>
            </div>
            <div class="left-side-area-inner-mid-rows">
                <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">171 Contacts</div>
                <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">220 Clicks</div>
            </div>
        </div>

        <div class="area-container">

            <div id="social-container">

                <div class="social-rows" style="background-color: #92CFE4;">

                </div>
                <div class="social-rows" style="background-color: #C0C8DA;">

                </div>
                <div class="social-rows" style="background-color: #BFCFF1;">

                </div>
                <div class="social-rows" style="background-color: #A9C5D4;">

                </div>
            </div>
        </div>*@




































































    @*<div class="container" style="height: 400px;">

            <div class="row">

                <div class="row col-md-10">

                    <div class="col-md-5" style="margin-top: 15px; height: 300px; background-color: #EFEFEF; padding: 5px;">



                        @{
                            var chart = new OH.Net.Areas.ReportsArea.Models.PieChart();
                            chart.ChartName = "HovDashPie";
                            chart.ChartTitle = "Care Givers";
                            chart.ShowLegend = true;
                            chart.ShowLabels = false;
                            chart.PieChartData.Add(new PieChartSeries() {PieDataCatagory = "CareGiversAdmin", PieDataValue = 5}); //  @Model.TotalAdminCareGivers });
                            chart.PieChartData.Add(new PieChartSeries() {PieDataCatagory = "CareGiversModerators", PieDataValue = 5}); // @Model.TotalModeratorCareGivers });
                            chart.PieChartData.Add(new PieChartSeries() {PieDataCatagory = "CareGiversLevel1", PieDataValue = 5}); // @Model.TotalLevel1CareGivers });
                            chart.PieChartData.Add(new PieChartSeries() {PieDataCatagory = "CareGiversLevel2", PieDataValue = 5}); // @Model.TotalLevel2CareGivers });

                        }


                        @Html.Partial("/Areas/Administrator/Views/Shared/_PieChartPartialPage.cshtml", chart)



                    </div>
                    <div class="col-md-3" style="height: 300px; margin-top: 15px; background-color: #EFEFEF;">

                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; background-color: #556b2f; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalModeratorCareGivers)</div>
                            <div style="float: left; margin-left: 15px; font-size: 1.2em; color: #666;">Moderators</div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; background-color: #a52a2a; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalAdminCareGivers)</div>
                            <div style="float: left; margin-left: 15px; font-size: 1.2em; color: #666;">Administrators</div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; background-color: #1e90ff; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalLevel1CareGivers)</div>
                            <div style="float: left; margin-left: 15px; font-size: 1.2em; color: #666;">Level 1</div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; background-color: #a9a9a9; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalLevel2CareGivers)</div>
                            <div style="float: left; margin-left: 15px; font-size: 1.2em; color: #666;">Level 2</div>
                        </div>
                    </div>

                    <div class="col-md-4" style="height: 300px; margin-top: 15px; background-color: #EFEFEF;">
                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,229 Contacts</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">2,361 Opens</div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">36 Contacts</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,692 Contacts</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden;"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">171 Contacts</div>
                            <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">220 Clicks</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 15px; height: 300px; background-color: #EFEFEF;">
                    <div>Social Impact</div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12" style="background-color: #92CFE4; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                            </div>
                            <div class="col-sm-12" style="background-color: #C0C8DA; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                            </div>
                            <div class="col-sm-12" style="background-color: #BFCFF1; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                            </div>
                            <div class="col-sm-12" style="background-color: #A9C5D4; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>*@

    @*<style>
            body {
                font: Lucida Grande, Lucida Sans Unicode, arial, sans;
            }
            /*#PieChart {
                 height: 300px;
                 text-align: left;
             }*/
            #TopHeadMenu {
                list-style: none;
                display: inline-block;
            }

                #TopHeadMenu li {
                    list-style: none;
                    display: inline-block;
                    padding-left: 10px;
                    padding-right: 10px;
                }
        </style>*@

    <script type="text/javascript">

        $(function () {

            Resize_Charts();

            $(window).resize(Resize_Charts);

        });
        function Resize_Charts() {
            $('.k-chart').each(function () {
                $(this).data("kendoChart").refresh();
            });
        }

    </script>
