﻿@using Aspose.Cells
@using Kendo.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OH-CIMS</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/Kendo")

    @Styles.Render("~/Content/css/base")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @RenderSection("styles", required: false)
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>
</head>
<body>
    <div>
        @(Html.Kendo().ToolBar().Name("topTool").Items(i =>
          {
              i.Add().Template("<img src=\"/Images/OH-logo-shadow.png\" style=\"height:50px;margin-top:5px\">");
              i.Add().Template("<label style=\"float:right;margin-left:20px\"><h2>OH-CIMS</h2></label>");
              i.Add().Type(CommandType.Button).Text("My Profile Settings").Id("editbutton").Overflow(ShowInOverflowPopup.Always);
              i.Add().Type(CommandType.Button).Text("Switch Programs").Id("editbutton").Overflow(ShowInOverflowPopup.Always);
          })
          .HtmlAttributes(new { style="width:100"}))
    </div>

    <div id="horizontal" name="horizontal" class="container-fluid fill">
        <div class="fixed">
            <nav class="navbar navbar-default" role="navigation">
                @RenderSection("LeftMenu", required: false)
           </nav>
        </div>
        <div class="hero-unit filler">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p>fixed bottom footer</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    #treeview .k-sprite {
        background-image: url("../Content/web/treeview/coloricons-sprite.png");
    }

    /* CSS for fixed-fluid layout */
    html, body {
        height: 100%;
    }
    .k-button {
        color: #737373;
    }
    .row-fluid {
        min-height: 100%;
    }

    .fill {
        min-height: 100%;
    }


    /* CSS to ensure sidebar and content are same height (optional) */


    .filler:after {
        background-color: inherit;
        bottom: 0;
        content: "";
        height: auto;
        min-height: 850px;
        left: 0;
        margin: inherit;
        right: 0;
        position: absolute;
        top: 0;
        width: inherit;
        z-index: -1;
    }

    .k-splitbar .k-icon.k-collapse-prev {
        background: url('//...'); /*specify the icon url*/
        width: 15px; /*specify the icon width */
        height: 15px; /*specify the icon height */
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 20px; /*specify the width of the horizontal splitbar*/
    }

    .k-splitbar-vertical {
        height: 20px; /*specify the height of the vertical splitbar*/
    }
    .k-button {
            background-color: #cccccc;
        }
    
</style>

<script>
    $(document).ready(function () {
        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false },
                { collapsible: false, size: "100px" }
            ]
        });

        $("#horizontal").kendoSplitter({
            panes: [
                { collapsible: true, size: "300px" },
                { collapsible: false }
            ]
        });

        $("#editbutton").kendoButton({
            spriteCssClass: "k-icon k-i-custom"
        });
        $("#adminbutton").kendoButton({
            spriteCssClass: "k-icon k-i-hbars"
        });
    });
</script>



<script>
   

    //HOTH Menu
    $("#treeview").kendoTreeView({
        dataSource: [{

            text: "HOTH - Program Director", expanded: true, spriteCssClass: "rootfolder", items: [
                {
                    LinksTo: "test.cshtml", text: "Case Load", expanded: true, spriteCssClass: "folder", items: [
                        {
                            text: "View Active", expanded: true, spriteCssClass: "html", items: [
                                { text: "1113 - Juan Vasquez", spriteCssClass: "html" },
                                { text: "1114 - Mauricio Vasquez", spriteCssClass: "image" }
                            ]
                        },
                        { text: "View Blocked", spriteCssClass: "html" },
                        { text: "logo.png", spriteCssClass: "image" }
                    ]
                },
                {
                    LinksTo: "test.cshtml", text: "Homes", expanded: true, spriteCssClass: "folder", items: [
                        {
                            text: "Manage", expanded: true, spriteCssClass: "html", items: [
                                { text: "Property 1001", spriteCssClass: "html" },
                                { text: "Property 1002", spriteCssClass: "html" }
                            ]
                        },
                        {text: "View By Donor Offer", expanded: true, spriteCssClass: "html"},
                        {text: "Placeholder", spriteCssClass: "pdf" }
                    ]
                },
                {
                    text: "Reports", expanded: true, spriteCssClass: "folder", items: [
                        { text: "February.pdf", spriteCssClass: "pdf" },
                        { text: "March.pdf", spriteCssClass: "pdf" },
                        { text: "April.pdf", spriteCssClass: "pdf" }
                    ]
                }
            ]
        }],
        loadOnDemand: false,
        select: function (e) {
            var v = e.node;
            //alert("Selecting" + v);
        }

    });

    

    $(document).ready(function () {
        //stick in the fixed 100% height behind the navbar but don't wrap it
        $('#slide-nav.navbar .container').append($('<div id="navbar-height-col"></div>'));

        // Enter your ids or classes
        var toggler = '.navbar-toggle';
        var pagewrapper = '#page-content';
        var navigationwrapper = '.navbar-header';
        var menuwidth = '100%'; // the menu inside the slide menu itself
        var slidewidth = '80%';
        var menuneg = '-100%';
        var slideneg = '-80%';


        $("#slide-nav").on("click", toggler, function (e) {

            var selected = $(this).hasClass('slide-active');

            $('#slidemenu').stop().animate({
                left: selected ? menuneg : '0px'
            });

            $('#navbar-height-col').stop().animate({
                left: selected ? slideneg : '0px'
            });

            $(pagewrapper).stop().animate({
                left: selected ? '0px' : slidewidth
            });

            $(navigationwrapper).stop().animate({
                left: selected ? '0px' : slidewidth
            });


            $(this).toggleClass('slide-active', !selected);
            $('#slidemenu').toggleClass('slide-active');


            $('#page-content, .navbar, body, .navbar-header').toggleClass('slide-active');
        });


        var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';


        $(window).on("resize", function () {

            if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
                $(selected).removeClass('slide-active');
            }
        });
    });
</script>
