﻿@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using OH.BLL.Models.Navigation
<script>
function selectedEvent(e) {
    e.preventDefault();
    var treeview = $("#treeview1").data("kendoTreeView");
    var itemUid = $(e.node).attr("name");
    //alert(itemUid);
    $("#displayContent").load(itemUid);
    //var node = treeview.dataSource.getByUid(itemUid);
    //alert(node);
}
</script>
<div style="padding-top:10px;padding-left:10px">
    @(Html.Kendo().TreeView()
        .Name("treeview-right")
            .BindTo((IEnumerable<AdminNavigationItemViewModel>)ViewBag.inline, (NavigationBindingFactory<TreeViewItem> mappings) =>
        {
            mappings.For<AdminNavigationItemViewModel>(binding => binding.ItemDataBound((item, category) =>
            {
                item.Text = category.CategoryName;
                //item.Action(category.Action,category.Controller,category.Url);
                item.HtmlAttributes.Add("name", category.Controller + "/" + category.Action + category.Url);
            })
                .Children(category => category.SubCategories));

            mappings.For<AdminNavigationSubItemViewModel>(binding => binding.ItemDataBound((item, subCategory) =>
            {
                item.Text = subCategory.SubCategoryName;
                //item.Action(subCategory.Action, subCategory.Controller, subCategory.Url);
                item.HtmlAttributes.Add("name", subCategory.Controller + "/" + subCategory.Action + subCategory.Url);
            })
                .Children(category => category.SubCategories));
        })
            .Events(e => e.Select("selectedEvent"))
    )
</div>



