﻿@using Kendo.Mvc.UI
@*@model OH.Net.Models.UsersViewModel*@
@using Microsoft.Owin.Security
@using OH.Net.Areas.Administrator.Controllers
@using OH.Net.Code
<div style=" margin-left: 20px;">
    <div>
        <h1 style="font-family: FSP-Bold; color: #083b5a">
            User Account Management
        </h1>
    </div>
    <div>
        <div>
            <p style="padding-left: 5px; padding-bottom: 10px; padding-top: 10px">
                <i>Dashboard description</i>
            </p>
        </div>
    </div>
</div>
<div style="padding-left:20px">
    <div class="widget" style="width:600px;height:300px">
       
            <h4>Active User Accounts</h4>
           @(Html.Kendo().Grid<AdminController.BasicProjectInfo>()
            .Name("grid12")
            .Columns(columns =>
                {
                    columns.Bound(c => c.Id).Hidden(true);
                    columns.Bound(c => c.UserName).Width(140);
                    //columns.Command(c => { c.Edit(); c.Destroy(); });
                })
            .DataSource(dataSource => dataSource
                    .Ajax()
                         .ServerOperation(false)
                              .Destroy(destroy => destroy.Action("UserAccountsRemove", "Admin"))
                              .Create(create => create.Action("UserAccountsCreate", "Admin"))
                              .Update(update => update.Action("UserAccountsUpdate", "Admin"))
                                             .Read(read => read.Action("UserAccountsRead", "Admin"))
                                .Model(m =>
                                {
                                    m.Id(p => p.Id);
                                })
            )
            .HtmlAttributes(new { style = "height: 600px;top:-40px" })
            .Groupable()
            .Sortable()
            .ToolBar(t => t.Create())
            .Editable(e => e.Mode(GridEditMode.InLine))
        )


        @*<table class="table">
            <tbody>
                @foreach (var account in Model.MyUsers)
                {
                    <tr>
                        <td>@account.UserName</td>
                        <td>
                            @using (Html.BeginForm("RemoveLogin", "Manage"))
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    @Html.Hidden("loginProvider", account.Email)
                                </div>
                            }
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
        
      


    </div>
</div>