﻿@*<iv id="UploadApp" ng-app="UploadApp">
    <div class="demo-section k-content" ng-controller="UploadController">
        <div class="box-col" style="width: 340px">
            <h4>Upload files</h4>
            <select kendo-drop-down-list ng-model ="Files.CategoryName" name="categoryName">
                <option>Documents</option>
                <option>PDF</option>
            </select>
            <input ng-model="Files.File" name="files"
                   type="file"      
                   k             
                   k-options="filesUploadOptions"                   
                   />
            
        </div>       
    </div>
</div>*@

@model string[]
<div style="width:45%">
     
       @(
       
            Html.Kendo().Upload()
            .Name("Files")
             .Async(async => async.Save("Upload", "Attachment", new { categoryIds = String.Join(",", Model) }).AutoUpload(false))                   
    )

</div>