﻿@model OH.BLL.Models.CategoryViewModel
<div id="categoryWindow">
        @(Html.Kendo().Window().Visible(!@ViewContext.ViewData.ModelState.IsValid)
              .Name("createNewCategoryWindow")
              .Title("Create New Category")
              .Width(600)
              .Actions(actions => actions.Pin().Minimize().Maximize().Close())
              .Events(ev => ev.Close("onClose"))
              .Content(@<text>
                            @Html.Partial("_CreateCategoryForm", Model)    
                        </text>)                       
              )

        @(Html.Kendo().Button()
              .Name("newCategoryButton")
              .HtmlAttributes(new {type = "button"})
              .Content("Add New Category").Events(ev => ev.Click("onClick")))
</div>
<script>

    function onClose() {
        $("#newCategoryButton").show();
    }

    function onClick() {
        $("#createNewCategoryWindow").data("kendoWindow").open();
        $("#newCategoryButton").hide();
    }


</script>
<style scoped>
    #categoryWindow {
        min-height: 500px;
        padding-top: 10px;
        position: relative;
    }

</style>