﻿@model OH.BLL.Models.CategoryTreeViewModel
@using (Html.BeginForm("Checkboxes", "Category", FormMethod.Post))
{
    <div class="category-treeview">
        <script id="treeview-template" type="text/kendo-ui-template">
            #
            var spriteCssClass = item.id.split("_").pop()
            if (spriteCssClass.split("_") != "rootfolder" && spriteCssClass != "folder") { #
            <span class="k-sprite #= spriteCssClass #"></span>
            #: item.text #
            <a class='delete-link' href='\#'></a>
            # } else {#
                <input class="k-checkbox" role="presentation" type="checkbox" name="checkedFiles" value="#= item.id #" />
                <span class="k-sprite #= spriteCssClass #"></span>                
                #= item.text #
       
          
           

            #}#
        </script>

        <div class="treeview">
            @(Html.Kendo().TreeView()
                  .Name("treeview")
                  //.Checkboxes(checkboxes => checkboxes
                  //    .Name("checkedFiles")
                  //.CheckChildren(true).TemplateId("checkbox-template")
                  //)
                  .TemplateId("treeview-template")
                  .HtmlAttributes(new {@class = "demo-section"})
                  .BindTo(Model.Category, mappings => mappings.For<TreeViewItemViewModel>(binding => binding.ItemDataBound((item, category) =>
                  {
                      item.Id = String.Format("{0}_{1}", category.id, category.spriteCssClass);
                      item.Text = category.text;
                      item.HasChildren = category.hasChildren;
                      //item.SpriteCssClasses = category.spriteCssClass;                        
                  })
                      .Children(category => category.items))).ItemAction(item =>
                      {
                          item.Checked = Model.SelectedCategoryIds.Contains(item.Id);                                          
                      })

                  )
        </div>
        <div class="uploadFilesWindow">
            <input name="files" id="files" type="file" />
        </div>
      
    </div>
}
<script type="text/javascript">

    var categoryIds = [];

    $(document).on("change", ".k-checkbox", function(e) {

        categoryIds = [];
        $("input:checked").each(function() {
            var categoryId = $(this).val();
            categoryId = categoryId.split("_");
            categoryId = categoryId[0];
            categoryIds.push(categoryId);
        });

        if (categoryIds.length > 0) {
            $(".uploadFilesWindow").show();

        } else {
            $(".uploadFilesWindow").hide();
        }

        $("#files").kendoUpload({
            async: {
                saveUrl: "Upload?categoryIds=" + categoryIds.join(),
                autoUpload: false,

            }
        });

    });

    var checkedValues = $('input:checkbox:checked').map(function() {
        return this.value;
    }).get();

    $(document).on("click", ".delete-link", function(e) {
        var treeview = $("#treeview").data("kendoTreeView");
        var itemUid = $(this).closest(".k-item").attr("data-uid");
        var node = treeview.dataSource.getByUid(itemUid);
        var attachmentId = node.id.split("_");
        attachmentId = attachmentId[0];
               
        $.ajax({
            type: "POST",
            url: "/Attachment/RemoveFile",
            data: "{'attachmentId':'" + attachmentId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"            
        });
        treeview.remove($(this).closest(".k-item"));
     
            
     
    });


    $(document).ready(function() {
        $(".uploadFilesWindow").hide();

    });


</script>
<style scoped>
    .uploadFilesWindow {
        padding-top: 10px;
        position: relative;
    }

    .category-treeview {
        display: inline-block;
        height: 300px;
        margin: 0 2em;
        text-align: left;
        vertical-align: top;
        width: 500px;
    }

    #treeview .k-sprite { background-image: url("@Url.Content("~/Content/kendo/2014.2.716/images/treeview/coloricons-sprite.png")"); }

    .rootfolder { background-position: 0 0; }

    .folder { background-position: 0 -16px; }

    .pdf { background-position: 0 -32px; }

    .html { background-position: 0 -48px; }

    .image { background-position: 0 -64px; }

    .delete-link {
        -mox-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: transparent url("@Url.Content("~/Content/kendo/2014.2.716/images/treeview/close.png")") no-repeat 50% 50%;
        border-radius: 5px;
        display: inline-block;
        font-size: 0;
        height: 12px;
        line-height: 0;
        margin: 2px 0 0 3px;
        overflow: hidden;
        vertical-align: top;
        width: 12px;
    }
</style>