﻿    .home-page-image {
        display: flex;
    }
    .home-page-image img {
        -webkit-filter: brightness(90%);
        -moz-filter: brightness(90%);
        filter: brightness(90%);
        opacity: 0.6;
        width: 100%;
    }

    .login-panel {
        height: 250px;
        left: calc((100% - 940px) / 2);
        position: absolute;
        top: 194px;
        width: 412px;
        z-index: 2000;
     }
    .login-bottom-layer {
        opacity: .6;
        background-color: #eee;
        border: 1px solid #999;
        border-radius: 13px;
        box-shadow: 8px 6px 8px 2px #111;
        width: 100%;
        height: 100%;
    }
    .login-top-layer {
        /*border: 1px solid green;*/
        padding: 10px;
        height: calc(100% - 2 * 10px);
        width: calc(100% - 2 * 10px);
    }
    .login-top-layer table {
        font-size: 9pt;
        width: 100%;
        margin-top:8px;
    }
    .login-top-layer table tr {
       
    }
    .login-top-layer table td {
       
    }
    .login-top-layer input {
        box-shadow: 1px 3px 4px 0 #555;
        font-size: 10px;
        margin: 4px 0;
        padding: 4px 0 2px 4px;
        width: 184px;
    }
    .login-top-layer button {
        font-size: 15px;
        padding: 2px 10px;
    }
    .login-facebook {
    }
    .login-twitter {
    }
    .login-google {
    }
    .login-windows-live {
    }
    .oauth-login-buttons button {
        border-radius: 0;
        font-size: 8pt;
        width: 100%;
        margin: 4px 0;
        text-align: left;
    }
    .oauth-login-buttons button img {
        padding: 0 5px;
    }
    #email-update-id label {
        display: inline-block;
        font-size: 9pt;
        text-align: right;
        width: 45%;
    }
    #email-update-id input {
        margin: 0 0 8px;
        padding: 3px;
    }