﻿@using Kendo.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/Kendo")

    @Styles.Render("~/Content/css/base")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @RenderSection("styles", required: false)
</head>
<body>
@Html.Partial("_Header")
<div class="left-margin">&nbsp;</div>
    
@*
        children.Add().Text("Furniture")
    .Items(innerChildren =>
    {
    innerChildren.Add().Text("Tables & Chairs");
    innerChildren.Add().Text("Sofas");
    innerChildren.Add().Text("Occasional Furniture");
    innerChildren.Add().Text("Childerns Furniture");
    innerChildren.Add().Text("Beds");
    });
        *@

@*@(Html.Kendo().Menu()
      .Name("Menu")
                              .HtmlAttributes(new { style = "width: 100%; margin: 0 auto;align:center; position: relative; " })
      .Items(items =>
      {
          items.Add().Text("Dashboard");
          items.Add().Text("Profile")
               .Content(@<text>
                <h2>Around the Globe</h2>
                <ol>
                    <li>United States</li>
                    <li>Europe</li>
                    <li>Canada</li>
                    <li>Australia</li>
                </ol>
                <img src='@Url.Content("~/Content/web/menu/map.png")' alt="Stores Around the Globe" />
                <button class="k-button">See full list</button>
            </text>);

          items.Add().Text("Registrations");
          items.Add().Text("Applications").Enabled(false);
          
      })
    )*@
@*@model IEnumerable<Kendo.Mvc.Examples.Models.Category>

        @(Html.Kendo().Menu()
          .Name("Menu")
          .BindTo(Model, mappings =>
          {
              mappings.For<Kendo.Mvc.Examples.Models.Category>(binding => binding
                      .ItemDataBound((item, category) =>
                      {
                          item.Text = category.CategoryName;
                      })
                      .Children(category => category.Products));
              mappings.For<Kendo.Mvc.Examples.Models.Product>(binding => binding
                      .ItemDataBound((item, product) =>
                      {
                          item.Text = product.ProductName;
                      }));
          })
        )*@
<div style="display: inline-block; height: 100%; min-height: 900px; float: left" >
    @(Html.Kendo().Menu()
          .Name("navTab")
                  .HtmlAttributes(new { style = "display:inline-block;height:100%;min-height:900px;padding-top:20px;", @class = "menu-one" })
          .Orientation(MenuOrientation.Vertical)
          .Items(items =>
          {
              items.Add().Text("Dashboard").Action("Index", "Dashboard");
              //.Items(children =>
              //{
              //    items.Add().Text("Furniture")
              //        .Items(innerChildren =>
              //        {
              //            innerChildren.Add().Text("Tables & Chairs");
              //            innerChildren.Add().Text("Sofas");
              //            innerChildren.Add().Text("Occasional Furniture");
              //            innerChildren.Add().Text("Childerns Furniture");
              //            innerChildren.Add().Text("Beds");
              //        });
              //});
              items.Add().Text("Profile").Action("Index", "Profile");
              items.Add().Text("Documents").Action("Index", "Documents");
              items.Add().Text("Applications").Action("Index", "ProgramHome");
          }))

    @*<ul style="display:inline-block;height:100%;min-height:900px;padding-top:20px" id="menuLeft">
        <li>Dashboard</li>
        <li>Profile
            <ul>
                <li>Sub Item 1</li>
                <li>Sub Item 2</li>
                <li>Sub Item 3</li>
            </ul>
        </li>
        <li>Registrations</li>
    </ul>*@
    </div>
    <div style="display:inline-block;float:left">
        @RenderBody()
    </div>        
    @Html.Partial("_Footer")
        @RenderSection("scripts", required: false)

    <script type="text/javascript">
        window.onload = function () {
            var navColHeight = $(".left-navigation").outerHeight(true);
            $(".left-navigation").height(navColHeight + 20);
        };
        $(window).scroll(function () {
            $('#subHeader').css('top', $(this).scrollTop() + "px");
        });
        $("#menuLeft").kendoMenu({
            orientation: "vertical",
            direction: "right",
            animation: { open: { effects: "fadeIn" } }
        });

    </script>
    <style>
        .menu-one{
            border-color:#ffffff;
            background-color: #ffffff;
            border-left: #ffffff;
        }
         .k-item .k-link{
             color: #000000;
         }
        .k-state-default{
            background-color: #ffffff;
            color: #000000;
        }
        .k-state-highlight .k-link {
            color: #000000;
            background-color: #cccccc;
        }
        .k-state-hover {
            background-color: #ebebeb;
        }
        
    </style>
</body>
</html>