﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.Addresseses
@using OH.BLL.Models.Events;
@using OH.BLL.Models.TimeStamps
@model string
   @*  @model CollectionEventViewModel*@


                  <script type="text/javascript">
                      $(document).ready(function () {
                      });

                      function showLocationDetails(e) {
                          
                          e.preventDefault();
                          var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                          var u = "@Url.Action("Edit","CollectionEvent",null)" + "/" + dataItem.MeetingID;
                          $("#displayContent").load(u);
                      }


                      function onRequestEnd(e) {
                          for (var i = 0; i < e.response.Data.length; i++) {
                              if (e.response.Data[i].CollectionLocation && e.response.Data[i].CollectionLocation.OpeningOnUtc) {
                                  e.response.Data[i].CollectionLocation.OpeningOnUtc = kendo.parseDate(e.response.Data[i].CollectionLocation.OpeningOnUtc);
                              }
                              if (e.response.Data[i].CollectionLocation && e.response.Data[i].CollectionLocation.TimeStamp && e.response.Data[i].CollectionLocation.TimeStamp.UtcCreatedDate) {
                                  e.response.Data[i].CollectionLocation.TimeStamp.UtcCreatedDate = kendo.parseDate(e.response.Data[i].CollectionLocation.TimeStamp.UtcCreatedDate);
                              }
                              if (e.response.Data[i].CollectionLocation && e.response.Data[i].CollectionLocation.TimeStamp && e.response.Data[i].CollectionLocation.TimeStamp.UtcLastModifiedDate) {
                                  e.response.Data[i].CollectionLocation.TimeStamp.UtcLastModifiedDate = kendo.parseDate(e.response.Data[i].CollectionLocation.TimeStamp.UtcLastModifiedDate);
                              }
                              if (e.response.Data[i].CollectionLocation && e.response.Data[i].CollectionLocation.Address && e.response.Data[i].CollectionLocation.Address.TimeStamp && e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcCreatedDate) {
                                  e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcCreatedDate = kendo.parseDate(e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcCreatedDate);
                              }
                              if (e.response.Data[i].CollectionLocation && e.response.Data[i].CollectionLocation.Address && e.response.Data[i].CollectionLocation.Address.TimeStamp && e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcLastModifiedDate) {
                                  e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcLastModifiedDate = kendo.parseDate(e.response.Data[i].CollectionLocation.Address.TimeStamp.UtcLastModifiedDate);
                              }
                          }
                      }



        </script>

@(Html.Kendo().Grid<CollectionLocationViewModel>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.AddressCity).Title("City");
                columns.Bound(p => p.AddressState).Title("State").Width(85);
                columns.Bound(p => p.PointOfInterest).Title("POI");
                columns.Bound(p => p.StoreNumber).Title("Store #").Width(95);
                columns.Bound(p => p.VolunteerName).Title("Volunteer");
                columns.Bound(p => p.AvailOn).Title("Avail On");
                 })
                
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                
                .Read(read => read.Action("Read_CollectionLocation", "CollectionEvent", new { id = Model }))
                
                )                 
           

)




        @*@(Html.Kendo().Grid<CollectionLocationMappingViewModel>()
            .Name("Grid")
            .Columns(columns =>
            {

                columns.Bound(p => p.CollectionLocation.AddressCity).Title("City");
                columns.Bound(p => p.CollectionLocation.AddressState).Title("State").Width(85);
                columns.Bound(p => p.CollectionLocation.PointOfInterest).Title("POI");
                columns.Bound(p => p.CollectionLocation.StoreNumber).Title("Store #").Width(95);
                columns.Bound(p => p.CollectionLocation.VolunteerName).Title("Volunteer");
                columns.Bound(p => p.CollectionLocation.AvailOn).Title("Avail On");
                columns.Command(command =>
                {
                    command.Edit();
                    command.Destroy();
                });
            })
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(s =>
            {
                s.Height(600);
                s.Width(425);
                s.Title("Location Information");
            }
            ).TemplateName(@"Custom/CollectionLocationMapping")
            )
            .ToolBar(
              a => a.Template(@<text>
                                    <div class="toolbar">
                                        <input class='k-button k-button-icontext' type="button" onclick="refreshCurrentTab()" value="Refresh" />&nbsp;&nbsp;&nbsp;
                                        <input class='k-button k-button-icontext k-grid-add' type="button" value="Attach Location" />&nbsp;&nbsp;&nbsp;
                                    </div>
                                </text>)
                )
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Events(e=>e.RequestEnd("onRequestEnd"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.CollectionLocation).DefaultValue(new CollectionLocationViewModel());
                            model.Field(p => p.CollectionEventId).DefaultValue(new Guid(Model));
                            model.Field(p => p.CollectionLocationId).DefaultValue(Guid.Empty);
                         
                        })
                .Create(create => create.Action("Create_CollectionLocation", "CollectionEvent"))
                .Read(read => read.Action("Read_CollectionLocation", "CollectionEvent", new { id = Model }))
                .Update(update => update.Action("Update_CollectionLocation", "CollectionEvent"))
                        .Destroy(update => update.Action("Delete_CollectionLocation", "CollectionEvent"))
            )
        )*@
