﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.Events
@using OH.BLL.Models.Addresseses
@using OH.BLL.Models.TimeStamps
@*@using OH.Net.Helpers*@
@model CollectionEventViewModel
@{
    //ViewContext.ClientValidationEnabled = false;
    //HtmlHelper.ClientValidationEnabled = false;

    string owner = (Model.Owner!=null)?Model.Owner.Id.ToString():string.Empty;
    //var offices = (IEnumerable<OfficeViewModel>) ViewBag.Offices;
    //var olist = offices.ToList().Select(a => new SelectListItem() { Text = a.InternalName, Value = a.Id.ToString() }).ToList();
    var range = new List<SelectListItem>();




    for (int i = 5; i < 201; i += 5)
    {
        var item = new SelectListItem {Text = i.ToString(), Value = i.ToString()};

        range.Add(item);
    }


    var maxStores = new List<SelectListItem>();
    for (int i = 1; i < 26; i++)
    {
        var item = new SelectListItem {Text = i.ToString(), Value = i.ToString()};

        maxStores.Add(item);
    }


    var saveAsNew = (bool) ViewBag.isNew;
   // var addressVerifyKey = "AddressVerifyHtmlKey".GetAppSetting();
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="formHolder" style="width: 30%;float: left;">

    @*@using (Ajax.BeginForm(saveAsNew ? "New" : "Edit", null, options, new { @id = "newCollectionEventForm" }))*@
    @using (Html.BeginForm("New", "CollectionEvent", FormMethod.Post, new { id = "collectionEventForm" }))
    {

        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Title)<br />
        @Html.EditorFor(m => m.Title)<br />
        @Html.ValidationMessageFor(m => m.Title)<br />
        @Html.LabelFor(m => m.Owner)<br />
        //@Html.Kendo().DropDownListFor(m => m.OwnerId).Name("OwnerId").BindTo(olist).Value(owner).HtmlAttributes(new { style = "width:300px" })<br />
            
        
        @Html.LabelFor(m => m.Participants)<br />
        //@Html.Kendo().MultiSelect().Name("Participants").Placeholder("Participating Offices").BindTo(olist).Value(Model.Participants).HtmlAttributes(new { style = "width:300px" })
        //@Html.Kendo().MultiSelect().MultiSelectFor(model => model.Participants)
                //.Name("Participants2")
                //    .Placeholder("Participating Offices")
                    //.BindTo(new SelectList(offices, "Id","InternalName"))
                    //.DataTextField("InternalName")
                    //.DataValueField("Id")
                    //.Value(Model.Participants)
                    //.HtmlAttributes(new { style = "width:300px" })
                    
                    @(Html.Kendo().MultiSelectFor(m => m.ParticipantsFromView)
                      .Placeholder("Participating Offices")
                      .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetOfficesList", "CollectionEvent");
                              })
                              .ServerFiltering(true);
                          })
                         .DataValueField("Value")
                         .DataTextField("Text")
                      //  .BindTo(new SelectList(offices, "Id", "InternalName"))
                    //.Value(Model.Participants).HtmlAttributes(new { style = "width:300px" })
                    )

        @Html.LabelFor(m => m.Partner)<br />
        @Html.Kendo().TextBoxFor(m => m.Partner)<br />
        @Html.LabelFor(m => m.Description)<br />
        @Html.TextAreaFor(m => m.Description, new { @class = "k-textbox" })<br />
        @Html.LabelFor(m => m.RegistrationRadius)<br />
        @Html.Kendo().DropDownListFor(m => m.RegistrationRadius).BindTo(range).HtmlAttributes(new { style = "width:300px" })<br />
        @Html.LabelFor(m => m.MaxStoresPerVolunteer)<br />
        @Html.Kendo().DropDownListFor(m => m.MaxStoresPerVolunteer).BindTo(maxStores).HtmlAttributes(new { style = "width:300px" })<br />
        @Html.LabelFor(x => x.EventClosed)        
        @Html.CheckBox("EventClosed", Model.EventClosed, new { @id = "EventClosed" })
        @Html.LabelFor(x => x.CollectionBeginsUtc)<br />
        @Html.Kendo().DateTimePickerFor(x => x.CollectionBeginsUtc).Value(Model.PublishToWebUtc).HtmlAttributes(new { style = "width:300px" })<br />
        @Html.LabelFor(x => x.CollectionEndsUtc)<br />
        @Html.Kendo().DateTimePickerFor(x => x.CollectionEndsUtc).Value(Model.UnpublishFromWebUtc).HtmlAttributes(new { style = "width:300px" })<br />
        @Html.LabelFor(x => x.RegistrationOpensUtc)<br />
        @Html.Kendo().DateTimePickerFor(x => x.RegistrationOpensUtc).HtmlAttributes(new { style = "width:300px" })<br />



        @Html.ValidationMessageFor(m => m.RegistrationOpensUtc)<br />
        @Html.LabelFor(x => x.RegistrationClosesUtc)<br />
        @Html.Kendo().DateTimePickerFor(x => x.RegistrationClosesUtc).HtmlAttributes(new { style = "width:300px" })<br />
        @Html.ValidationMessageFor(m => m.RegistrationClosesUtc)<br />
        @Html.LabelFor(x => x.PublishToEventCalendar)<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        @Html.CheckBox("PublishToEventCalendar", Model.PublishToEventCalendar ?? false, new { @id = "PublishToEventCalendar", style = "min-width:20px;" })
        @Html.ValidationMessageFor(m => m.PublishToEventCalendar)<br />
        @Html.HiddenFor(x => x.PublishToWebUtc, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY
        @Html.HiddenFor(x => x.UnpublishFromWebUtc, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY
        @Html.HiddenFor(x => x.EventTypeId)
        
        @Html.HiddenFor(x => x.Start, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY
        @Html.HiddenFor(x => x.End, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TimeStamp.UtcCreatedDate, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY
        @Html.HiddenFor(x => x.TimeStamp.UtcLastModifiedDate, new { Value = DateTime.UtcNow }) //ITEMS NEEDED CONFIRMATION OF WHY FROM ROY

        <input type="button" value="save event" id="saveButton" />

    }
</div>
<div id="spin" class="k-loading-mask" style="display:none;width:100%;height:100%;position:absolute;top:0px">
    <span class="k-loading-text">Loading...</span>
    <div class="k-loading-image">
        <div class="k-loading-color">
        </div>
    </div>
</div>
<span id="staticNotification"></span>

<div id="locationVolunteerHolderDiv" style="width: 69%; float: left;">
        @*@if (!saveAsNew)
        {
            @Html.Action("GetEventTabs", "CollectionEvent", new { id = Model.Id })
      
        }*@
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @if (!saveAsNew)
            {
                @:loadTabs();
            }
    });

    function loadTabs() {
        var u = "@Url.Action("GetEventTabs", "CollectionEvent", new {id = Model.Id})";
        $("#locationVolunteerHolderDiv").load(u);
    }


        $(document).ready(function () {

            $("#saveButton").click(function () {
                showSpinner();
            });
        });

    var staticNotification = $("#staticNotification").kendoNotification({ appendTo: "#errorMessage" }).data("kendoNotification");

    function showSpinner() {
        $("#spin").show();
        var form = $("#collectionEventForm");
        $.ajax({
            url: "/Events/CollectionEvent/New",
            type: "POST",
            data: $(form).serialize(),
            xhrFields: { withCredentials: true },
            success: function (msg) {
                //alert(msg);
               // updateSuccess();
                $("#spin").hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("error" + textStatus);
                failure();

                $("#spin").hide();
            }
        });
    }

    function hideSpinner() {
        $("#spin").hide();
    @if (saveAsNew){
            @:$("#myButton").hide();
    }
        $("#myButton").closest("form").prop("disabled", true).find("input,select,textarea").prop("disabled", true);
        $("#MaxStoresPerVolunteer").data("kendoDropDownList").enable(false);
        $("#RegistrationRadius").data("kendoDropDownList").enable(false);
        $("#OwnerId").data("kendoDropDownList").enable(false);
        //$("#Participants").data("kendoMultiSelect").enable(false);
        $("#CollectionBeginsUtc").data("kendoDateTimePicker").enable(false);
        $("#CollectionEndsUtc").data("kendoDateTimePicker").enable(false);
        $("#RegistrationOpensUtc").data("kendoDateTimePicker").enable(false);
        $("#RegistrationClosesUtc").data("kendoDateTimePicker").enable(false);
    }

    function genscript() {
        var dropdownlist1 = $("#Submitter_Caregiver_Gender").data("kendoDropDownList");
        if (dropdownlist1.value() == "") {
            $("#Submitter_Caregiver_Gender").closest(".k-widget").css("border", "1px solid crimson");
        }
    }


    function AddressCheck() {
        var zip = $('.location-zip').val();
        var city = $('.location-city').val();
        var state = $('.location-state').val();
        var changed = false;
        var u = "@Url.Action("VerifyCityStateZip","Staff")?zip="+zip;
        $.ajax({
            type: 'GET',
            async: false,
            dataType: "json",
            url: u,
            traditional: true,
            success: function (data) {

                if (city.toUpperCase() != data.City) {
                    $('.location-city').val(data.City).change();
                    changed = true;
                }
                if (state != data.State) {
                    $('.location-state').val(data.State).change();
                    changed = true;
                }
                //if (changed) {
                //    alert('Your Address information has been updated to match our records. \n' +
                //        'your City, State, and Zip have been updated to City: ' + s[0].City + ', and State: ' + s[0].State + ' for Zip: ' + zip + '.')
                //}
            }

        });
    }

    </script>