﻿
@using Kendo.Mvc.UI
@using OH.BLL.Models.Adresseses
@using OH.BLL.Models.Events;
@using OH.BLL.Models.TimeStamps
@*@model string*@
    @model CollectionEventViewModel

<h1>Volunteer</h1>

@(Html.Kendo().Grid<CollectionVolunteerMappingViewModel>()
    .Name("CollectionVolunteerGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CollectionVolunteer.Lastname).Title("Last Name");
        columns.Bound(p => p.CollectionVolunteer.FirstName).Title("First Name");
        columns.Bound(p => p.CollectionVolunteer.DistributingTo).Title("Distributing To");
        columns.Bound(p => p.CollectionVolunteer.AddressCity).Title("City").Width(90);
        columns.Bound(p => p.CollectionVolunteer.AddressState).Title("State").Width(90);
        columns.Bound(p => p.CollectionVolunteer.Phone).Title("Cell Phone");
        columns.Bound(p => p.CollectionVolunteer.Email).Title("Email");
        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        });
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(s =>
    {
        s.Height(600);
        s.Width(425);
        s.Title("Volunteer Information");
    }
    ).TemplateName(@"Custom/CollectionVolunteerMapping")
    )
    .ToolBar(
      a => a.Template(@<text>
        <div class="toolbar">
            <input class='k-button k-button-icontext' type="button" onclick="refreshCurrentTab()" value="Refresh" />&nbsp;&nbsp;&nbsp;
            <input class='k-button k-button-icontext k-grid-add' type="button" value="Attach Volunteer" />&nbsp;&nbsp;&nbsp;
        </div>
    </text>)
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>
        {
            model.Id(p => p.Id);
            model.Field(p => p.CollectionVolunteer).DefaultValue(new CollectionVolunteerViewModel());
            model.Field(p => p.CollectionEventId).DefaultValue(new Guid(Model));
            model.Field(p => p.CollectionVolunteerId).DefaultValue(Guid.Empty);
        })
        .Create(create => create.Action("Create_CollectionVolunteer", "CollectionEvent"))
        .Read(read => read.Action("Read_CollectionVolunteer", "CollectionEvent", new { id = Model }))
        .Update(update => update.Action("Update_CollectionVolunteer", "CollectionEvent"))
        .Destroy(update => update.Action("Delete_CollectionVolunteer", "CollectionEvent"))
    )
)
