﻿@using OH.Net.Areas.ReportsArea.Models
@using OH.BLL.Models.Reports;
@model OH.Net.Areas.ReportsArea.Models.ReportFilter

@{
   var list = Model.ListReportsAvalable.Select(x => new SelectListItem() { Text = x.ReportName, Value = x.StoredProcedureName });
    var appList = Model.ApplicationList.Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()});
    
}

    <div id="reportFilters" style="width: 100%; height: 100%;">
        <div class="reportFilterItem">
            <div>Application</div>
            @(Html.Kendo().DropDownList().Name("applicationSelection")
                                    .HtmlAttributes(new { style = "width: 90%;" })
                                //.BindTo(new List<SelectListItem>()
                                //{
                                //    new SelectListItem(){
                                //        Text = "HOV", Value = "HOV"
                                //    },
                                //    new SelectListItem(){
                                //        Text = "Mafa", Value = "Mafa"
                                //    },
                                //    new SelectListItem(){
                                //        Text = "Rally Point", Value = "Rally Point"
                                //    }
                                //})
                                .BindTo(appList)
                                .Events(events =>
                                {
                                    events.Select("applicationDropDownSelect");//.Select("applicationDropDownChange");
                                })
            )
            </div>
        <div>Report Name</div>
        <div class="reportFilterItem">
            @(Html.Kendo().DropDownList().Name("ReportDropDown")
                          .BindTo(list)
                  .HtmlAttributes(new { style = "width: 90%;" })
                           .Events(events =>
                           {
                               events.Change("dropDownChange").Select("dropDownSelect");
                           })
            )

            @*@(Html.Kendo().DropDownList().Name("ReportDropDown")
            .BindTo(Model.ListOfReports)
            .HtmlAttributes(new {style = "width: 90%;"})
                     .Events(events =>
                     {
                         events.Change("dropDownChange");
                     })
            )*@
        </div>

        <div class="reportFilterItem">
            <div>Begin Date: </div>
            @(Html.Kendo().DatePickerFor(m => m.BeginDateTime)
                  .Name("bgnDate")
                  .HtmlAttributes(new {style = "width: 90%;"})
                  
                  )
        </div>
        <div class="reportFilterItem">
            <div>End Date: </div>
            @(Html.Kendo().DatePickerFor(m => m.EndDateTime)
                  .Name("endDate")
                  .HtmlAttributes(new {style = "width: 90%;"})
                  )
        </div>
        <div class="reportFilterItem">
            <div>Include: </div>

            @Html.Label("Army")
            @Html.CheckBoxFor(m => m.IncludeArmy)
            @Html.Label("Marines")
            @Html.CheckBoxFor(m => m.IncludeMarines)
            @Html.Label("Navy")
            @Html.CheckBoxFor(m => m.IncludeNavy)
            @Html.Label("Air Force")
            @Html.CheckBoxFor(m => m.IncludeAirForce)

        </div>
    </div>
    <div>
        @(Html.Kendo().Button()
            .Name("submitButton")
            .HtmlAttributes(new {type="button", style = "float: right;margin-right: 10px;margin-top: 20px;"})
            .Content("Refresh")
            
        )
    </div>

<style type="text/css">
    .reportFilterItem {


    }
    #reportFilters {
        padding-top: 20px;
        text-align: center;
    
    }
    #ReportPanel{height: 100%;}
</style>

    
    <script type="text/javascript">
        var newData;
        var col = [];
        var dateFields = [];

        function dropDownSelect(e) {
            var dataItem = this.dataItem(e.item.index());
            $("#top-head h1").html(dataItem.Text);
            console.log(dataItem);
        }

        function applicationDropDownSelect(e) {

            var dataItem = this.dataItem(e.item.index());

            $.ajax({
                url: "/ReportsArea/ReportsHome/ApplicationDropDownChange",
                type: "POST",
                data: {
                    id : dataItem.Value
                },
                success: function (data) {
                    ClearReportDropdownList();
                    RebindReportDropdownList(data);                    
                },
                error: function() {
                    alert("bombed");
                }
            });

        }

        function ClearReportDropdownList() {
            $("#ReportDropDown").kendoDropDownList({
                dataTextField: "",
                dataValueField: "",
                dataSource: [],
                index: 0,
                change: onchange
            });
            
        }

        function RebindReportDropdownList(list) {
            $("#ReportDropDown").kendoDropDownList({
                dataTextField: "ReportName",
                dataValueField: "StoredProcedureName",
                dataSource: list,
                index: 0,
                change: onchange
            });
        }

        function dropDownChange() {
            $("#grid").data().kendoGrid.destroy();
            $("#grid").empty();
            $("#grid").kendoGrid();

        }


        $(document).ready(function () {
            
            //$(".reportFilterItem input").change(function () {
            //    $("#submitButton").click();
            //});

            function generateModel(gridData) {

                for (var property in gridData)

                    col.push(property.replace("_", " "));

            }



            function generateGrid(gridData) {

                var grid = $("#grid").kendoGrid({
                    toolbar: ["excel"],
                    excel: {
                        fileName: "Report.xlsx",
                        proxyUrl: "/ReportsArea/ReportsHome/ExcelExportSave",
                        filterable: true
                        

                    },
                    dataSource: {
                        data: gridData
                    }, columns: generateModel(gridData),

                    sortable: true,
                    filterable: true,
                    scrollable: false,
                    width: 200
                });
            }


           

            $("#grid").kendoGrid();
            $("#submitButton").click(function() {
            

                $.ajax({
                    url: "/ReportsArea/ReportsHome/ReloadReport",
                    type: "POST",
                    data: {
                        bgnDateTime: $("#bgnDate").val(),
                        endDateTime: $("#endDate").val(),
                        includeArmy: $("#IncludeArmy").prop("checked"),
                        includeMarines: $("#IncludeMarines").prop("checked"),
                        includeNavy: $("#IncludeNavy").prop("checked"),
                        includeAirForce: $("#IncludeAirForce").prop("checked"),
                        includeReport: $("#ReportDropDown").prop("value")
                    },
                    success: function(data) {

                        $("#grid").data().kendoGrid.destroy();
                        $("#grid").empty();
                        col = [];
                        
                        generateGrid(data.Data);
                        $("#ReportPanel").css("height", "100%");
                        $(".k-grid-content").css("height", "100%");
                        $("#gridPanel").css("height", "100%");
                        $("#mainPanel").css("height", "800px");
                        $(".k-splitbar").css("height", "800px");
                    },
                    error: function() {
                        alert("failed");
                    }
                });
                
            });

        });


    </script>

























































    @*$(document).ready(function() {
        var dateFields = [];

        function additionalInformation() {
            return {
                bgnDateTime: $("#bgnDate").val(),
                endDateTime: $("#endDate").val(),
                includeArmy: $("#IncludeArmy").prop("checked"),
                includeMarines: $("#IncludeMarines").prop("checked"),
                includeNavy: $("#IncludeNavy").prop("checked"),
                includeAirForce: $("#IncludeAirForce").prop("checked")
            }
        }


        function generateModel(gridData) {
            var model = {};
            model.id = "ID";
            var fields = {};
            for (var property in gridData) {
                var propType = typeof gridData[property];

                if (propType == "number") {
                    fields[property] = {
                        type: "number",
                        validation: {
                            required: true
                        }
                    };
                } else if (propType == "boolean") {
                    fields[property] = {
                        type: "boolean",
                        validation: {
                            required: true
                        }
                    };
                } else if (propType == "string") {
                    var parsedDate = kendo.parseDate(gridData[property]);
                    if (parsedDate) {
                        fields[property] = {
                            type: "date",
                            validation: {
                                required: true
                            }
                        };
                        dateFields.push(property);
                    } else {
                        fields[property] = {
                            validation: {
                                required: true
                            }
                        };
                    }
                } else {
                    fields[property] = {
                        validation: {
                            required: true
                        }
                    };
                }

            }
            model.fields = fields;

            return model;
        }

        function generateGrid(gridData) {

            var model = generateModel(gridData[0]);

            var parseFunction;
            if (dateFields.length > 0) {
                parseFunction = function(response) {
                    for (var i = 0; i < response.length; i++) {
                        for (var fieldIndex = 0; fieldIndex < dateFields.length; fieldIndex++) {
                            var record = response[i];
                            record[dateFields[fieldIndex]] = kendo.parseDate(record[dateFields[fieldIndex]]);
                        }
                    }
                    return response;
                };
            }

            var grid = $("#grid").kendoGrid({
                dataSource: {
                    data: gridData,
                    schema: {
                        model: model,
                        parse: parseFunction
                    }
                },
                editable: true,
                sortable: true
            });
        };

   

        $("#submitButton").click(function () {
            //var grid = $("#grid").data("kendoGrid");

            $.ajax({
                url: "/ReportsArea/ReportsHome/ReloadReport",
                type: "POST",
                data: {
                    bgnDateTime: $("#bgnDate").val(),
                    endDateTime: $("#endDate").val(),
                    includeArmy: $("#IncludeArmy").prop("checked"),
                    includeMarines: $("#IncludeMarines").prop("checked"),
                    includeNavy: $("#IncludeNavy").prop("checked"),
                    includeAirForce: $("#IncludeAirForce").prop("checked")
                },
                success: function (data) {
                    //var dataRecords = data;
                    //var dataSource = new kendo.data.DataSource({ data: dataRecords });
                    //grid.setDataSource(dataSource);
                    $("#grid").html("");

                    generateGrid(data);

                },
                error: function () {
                    alert("failed");
                }
            });
        });

        //var data2 = [{
        //    "Name": "daya",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/"
        //}, {
        //    "Name": "siva",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/"
        //}, {
        //    "Name": "sivadaya",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/"
        //}, {
        //    "Name": "dayasiva",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/"
        //}];

        ////example data received from remote source via jQuery ajax merthod
        //var data = [{
        //    "Name": "daya",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/",
        //    "Balance": 23,
        //    "Weight": 53,
        //    "Height": 53
        //}, {
        //    "Name": "siva",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/",
        //    "Balance": 23,
        //    "Weight": 53,
        //    "Height": 53
        //}, {
        //    "Name": "sivadaya",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/",
        //    "Balance": 23,
        //    "Weight": 53,
        //    "Height": 53
        //}, {
        //    "Name": "dayasiva",
        //    "Role": "Developer",
        //    "Dept": "Dev",
        //    "Date": "\/Date(836438400000)\/",
        //    "Balance": 23,
        //    "Weight": 53,
        //    "Height": 53
        //}];

        //in the success handler of the ajax method call the function below with the received data:


    });
</script>*@