﻿

@{
    ViewBag.Title = "CustomReportViewer";
    Layout = "~/Areas/ReportsArea/Views/Shared/_ReportsLayoutPage.cshtml";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<div id="top-head">
    <h1>Report Viewer</h1>
</div>
<div id="reportContainer" style="height: 90%;">
    <div style="width: 100%;height: 100%;">
        @(Html.Kendo().Splitter()
              .Name("Report")
              .Orientation(SplitterOrientation.Vertical)
              .HtmlAttributes(new {style = "height: 90%;"})
              
              .Panes(panes =>
              {
                  panes.Add()
                      .HtmlAttributes(new { id = "mainPanel" , style = "height: 100%;"})
                      .Collapsed(false)
                      .Collapsible(false)
                      .Size("75%")
                      .Resizable(true)
                      .Content(Html.Kendo().Splitter()
                          .Orientation(SplitterOrientation.Horizontal)
                          .Name("ReportPanel")
                      //.HtmlAttributes(new { style = "height: 100%;"})
                          .Panes(innerPanes =>
                          {
                              innerPanes.Add()
                                  .Collapsed(false)
                                  .Collapsible(false)
                                  .Resizable(false)                                  
                                  .HtmlAttributes(new { id = "gridPanel", style = "height: 100%;" })
                                  .Content(@<div>@Html.Action("ReportGridPartial", "ReportsHome")</div>);



                              innerPanes.Add()
                                  .Collapsed(false)
                                  .Collapsible(true)
                                  .Resizable(false)
                                  .Size("20%")
                                  .HtmlAttributes(new { id = "filterPanel", style = "height: 100%;" }) //, style = "height: 100%;"}) //, style = "width: 300px;text-align: center;"})
                                  .Content(@<div>@Html.Action("ReportFilterPartial", "ReportsHome")</div>);
                          }).ToHtmlString()
                      );
              })
              )
    </div>

</div>


<script type="text/javascript">
    
        //$(window).resize(function () { 
        //    $("#mainPanel").css("height", "75%");
        //    $("#gridPanel").css("height", "100%");
        //    $("#filterPanel").css("height", "100%");
        //});
  
</script>




