﻿@using OH.Net.Areas.ReportsArea.Models
@model OH.BLL.Models.Reports.HovDashBoard

@{
    ViewBag.Title = "HovDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 65px;">
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="text-align: center;">

                @(Html.Kendo().Menu()
                  .Name("TopHeadMenu")
                  .Items(items =>
                  {
                      items.Add().Text("Last Message");
                      items.Add().Text("Sent Messages");
                      items.Add().Text("Surveys");
                      items.Add().Text("Autoresponders");
                      items.Add().Text("Tracking Dashboard");
                  })
                )
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 65px;">
        <div class=" row">
        <div class="col-md-8">
            <h3 style="color: #6793A4;">Track My Last Email Message</h3><br />
            <h5 style="color: #014B67;">Feb 2015 Newsletter</h5>
            Subject: Adjusting Expectations is Important<br />
            February 28, 2015 12:00 AM (Completed in 53 seconds)
        </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        <div style="width: 100px; background-color: #666; color: white; padding: 5px; text-align: center;">
                            <h2>@Html.DisplayFor(model => model.TotalNumberCareGivers)</h2> Total <br/>Caregivers
                            @*<h2>2,957</h2> contacts<br/> sent to*@
                        </div>
                    </div>
                    <div class="col-sm-1" style="background-color: #F2F2F2;"></div>
                    <div class="col-sm-7">
                            <div style="background-color: #4D8194; color: white; padding: 5px; text-align: center; margin-top: 15px; border-radius: 5px;">
                                export message data
                            </div>
                            <div style="background-color: #4D8194; color: white; padding: 5px; text-align: center; margin-top: 15px; border-radius: 5px;">
                                create a segment
                            </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <br/>
    <div class="container" style="height: 400px;">

        <div class="row">

            <div class="row col-md-10">
                <div>Email Impact</div>
                <div class="col-md-5" style="margin-top: 15px; height: 300px; background-color: #EFEFEF; padding: 5px;">
                    


                @{
                    var chart = new OH.Net.Areas.ReportsArea.Models.PieChart();
                    chart.ChartName = "HovDashPie";
                    chart.ChartTitle = "Care Givers";
                    chart.ShowLegend = true;
                    chart.ShowLabels = false;
                    chart.PieChartData.Add(new PieChartSeries(){ PieDataCatagory = "CareGiversAdmin", PieDataValue = @Model.TotalAdminCareGivers});
                    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "CareGiversModerators", PieDataValue = @Model.TotalModeratorCareGivers });
                    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "CareGiversLevel1", PieDataValue = @Model.TotalLevel1CareGivers });
                    chart.PieChartData.Add(new PieChartSeries() { PieDataCatagory = "CareGiversLevel2", PieDataValue = @Model.TotalLevel2CareGivers });
                  
                }

                @Html.Partial("~/Areas/ReportsArea/Views/_PieChartPartialPage.cshtml", chart)

                    @*@(Html.Kendo().Chart()
                          .Name("PieChart")
                          .Title("Care Givers")
                          .Theme("flat")
                          .Transitions(true)
                          .Series(series =>
                          {
                              series.Pie(new dynamic[]
                              {
                                  new {category = "Opened", value = 41.6, color = "#556b2f"},
                                  new {category = "Bounced", value = 1.2, color = "#a52a2a"},
                                  new {category = "No Info", value = 57.2, color = "#1e90ff"},
                                  new {category = "Clicked", value = 6, color = "#a9a9a9"},
                              });
                          })
                          
                          )*@
                </div>
                <div class="col-md-3" style=" height: 300px; margin-top: 15px; background-color: #EFEFEF;">

                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; background-color: #556b2f; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalModeratorCareGivers)</div>
                        <div style="float: left; margin-left: 15px; font-size: 1.2em;color: #666;">Moderators</div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; background-color: #a52a2a; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalAdminCareGivers)</div>
                        <div style="float: left; margin-left: 15px; font-size: 1.2em;color: #666;">Administrators</div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; background-color: #1e90ff; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalLevel1CareGivers)</div>
                        <div style="float: left; margin-left: 15px; font-size: 1.2em;color: #666;" >Level 1</div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; background-color: #a9a9a9; opacity: .6; padding: 10px; text-align: center; border-radius: 5px; color: white; width: 65px;">@Html.DisplayFor(model => model.TotalLevel2CareGivers)</div>
                        <div style="float: left; margin-left: 15px; font-size: 1.2em;color: #666;">Level 2</div>
                    </div>
                </div>

                <div class="col-md-4" style="height: 300px; margin-top: 15px; background-color: #EFEFEF;">
                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>
                        <div style="float: left; background-color: #FFF; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,229 Contacts</div>
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">2,361 Opens</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>                        
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">36 Contacts</div>
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden"></div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>                        
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">1,692 Contacts</div>
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px; visibility: hidden;"></div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div style="float: left; margin-left: 5px; background-color: lightgrey; padding: 3px; font-size: 1.2em; border-radius: 5px;">?</div>                        
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">171 Contacts</div>
                        <div style="float: left; background-color: #FFF ; padding: 10px; text-align: center; border-radius: 5px; color: #666; margin-left: 3px;">220 Clicks</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 15px; height: 300px; background-color: #EFEFEF;">
                <div>Social Impact</div>
                <div>
                    <div class="row">
                        <div class="col-sm-12" style="background-color: #92CFE4; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                        </div>
                        <div class="col-sm-12" style="background-color: #C0C8DA; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                        </div>
                        <div class="col-sm-12" style="background-color: #BFCFF1; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                        </div>
                        <div class="col-sm-12" style="background-color: #A9C5D4; height: 65px; margin-bottom: 5px; border-radius: 8px;">

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<style>
    body {
        font: Lucida Grande, Lucida Sans Unicode, arial, sans;
    }
     /*#PieChart {
         height: 300px;
         text-align: left;
     }*/
    #TopHeadMenu {
        list-style: none;
        display: inline-block;
    }

    #TopHeadMenu li {
        list-style: none;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<script type="text/javascript">

    $(function() {

        Resize_Charts();

        $(window).resize(Resize_Charts);

    });
    function Resize_Charts() {
        $('.k-chart').each(function () {
            $(this).data("kendoChart").refresh();
        });
    }

</script>