﻿@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ReportsArea/Views/Shared/_ReportsLayoutPage.cshtml";
}


@section styles
{

    <link href="/ReportViewer/styles/telerikReportViewer-9.0.15.324.css" rel="stylesheet"/>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
        }
    </style>
}

@section scripts
{


    <link href="/Content/kendo/2014.3.1411/kendo.common.min.css" rel="stylesheet"/>
    <link href="/Content/kendo/2014.3.1411/kendo.blueopal.min.css" rel="stylesheet"/>


    <!--kendo.all.min.js can be used as well instead of kendo.web.min.js and kendo.mobile.min.js-->
    <script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.web.min.js"></script>
    <!--kendo.mobile.min.js - optional, if gestures/touch support is required-->
    <script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.mobile.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="/ReportViewer/js/telerikReportViewer-9.0.15.324.js"></script>


} 



@(Html.TelerikReporting().ReportViewer()
      .Id("reportViewer1")
      .ServiceUrl("/api/Reports/")
      .TemplateUrl("/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html")
          .ReportSource(new UriReportSource() { Uri = "MafaDispursements.trdx" })
      .ViewMode(ViewModes.INTERACTIVE)
      .ScaleMode(ScaleModes.SPECIFIC)
      .Scale(1.0)
      //.PersistSession(true)
      //.Deferred()
      )

