﻿@using OH.BLL.Models.Reports
@using Kendo
@using Kendo.Mvc
@using OH.Net.Areas.ReportsArea.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var chart = new BarChart {ChartName = "LineChart", ChartTitle = "TestChart"};



    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Do I Eat", BarDataValue = new double[] {1,9,6,8 }});
    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Did I Eat", BarDataValue = new double[] { 3, 4, 6, 8 } });
    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Will I Eat", BarDataValue = new double[] { 5, 2, 7, 4 } });
    chart.ShowLabels = true;
    chart.ShowToolTips = true;
    chart.VisibleGridLines = true;
}

@Html.Partial("/Areas/ReportsArea/Views/_BarChartPartialPage.cshtml", chart)






<div class="container">
    <div id="mainheader">
        <div id="mainheaderlogo">
            <img src="/Areas/Reports/Images/Logo.png" />
        </div>
    </div>
    <br />
    <p>Dear Applicant,</p>
    <p>
        Thank you for your interest in Operation Homefront’s Transitional Housing Program. We have attached our program criteria,
        application and consent to credit and criminal background check for you to complete and return to our offices. Please make
        sure upon return of your application you turn in any supported documentation requested. Incomplete applications or missing
        supporting documentation will not be considered for review.
    </p>
    <p>
        Once we have reviewed your application we will contact you to let you know if your application meets program eligibility
        criteria. We will then order your credit history and background check. This does not guarantee a unit. Pending the results
        of the background check will determine being put on our wait list.
    </p>
    <p>
        Once on our wait list we will not assign a unit until we actually have a vacant unit available. Once we contact you to let you
        know your actual apartment number, paperwork signing date and move in date you can go ahead and start planning your
        move.
    </p>
    <p>
        Before we move you into our Transitional Housing Program we want to ensure you understand and are committed to our
        program. While residing in our apartments, Operation Homefront with help from our generous donors will cover your rent,
        electric, home phone if applicable, internet and cable. We will provide you with a fully furnished 2 or 3 bedroom apartment to
        include all houseware items such as: towels, linens, cookware, bedding, etc…. You will go through a transitional program while
        residing in your unit to include one on one financial counseling and monthly renewal appointments to ensure you are
        transitioning successfully.
    </p>
    <p>
        Your requirements to our program will include the following:
    </p>

    <ul>
        <li>
            $500 deposit for damages (we understand not all applicants will have this deposit and will work with you upon movein to create a payment plan)
        </li>
        <li>
            Monthly renewal appointment
        </li>
        <li>
            Monthly financial appointment
        </li>
        <li>
            Monthly proof of debt reduction, savings building,
        </li>
        <li>
            Quarterly Credit Report check
        </li>
        <li>
            Participation in community events as directed by the community director
        </li>
        <li>
            Monthly apartment inspections
        </li>
    </ul>
    <p>
        We do ask all of our eligible families who are assigned a unit to complete a “profile questionnaire” prior to key pick up.
        Because we are an organization that depends on donors we like to let our donors know who they are helping and why it is
        important. You will be given the profile questionnaire on your paperwork signing date and we will take a picture of your
        family the same day so everyone residing in the unit must be present.
    </p>

    <p>
        Please initial and date below:
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="float: left;">
                <span>Applicant # 1:</span> <input type="text" id="applicant1" class="blInput" /><br />
                <span>Applicant # 2:</span> <input type="text" id="applicant2" class="blInput" />
            </div>
            <div class="col-md-6" style="float: left;">
                <span>Date: </span> <input type="text" id="applicant1Date" class="blInput" /><br />
                <span>Date:</span>  <input type="text" id="applicant2Date" class="blInput" />
            </div>
        </div>
    </div>
    <p>Should you have any questions about our Transitional Housing Program please contact your Village Director directly.</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6" style="float: left;">
                <span>San Antonio 210-451-5588</span> @*<input type="text" id="applicant1" class="blInput" />*@<br />
                <span>SoCal 760-453-7081</span> @*<input type="text" id="applicant2" class="blInput" />*@<br />
                <span>Maryland 301-208-1451</span>
            </div>
            <div class="col-md-6" style="float: left;">
                <span><a href="mailto:felicia.mcgrue@operationhomefront.net">felicia.mcgrue@operationhomefront.net</a></span><br />
                <span><a href="mailto:heather.mattei@operationhomefront.net">heather.mattei@operationhomefront.net</a></span><br />
                <span><a href="mailto:felecia.billingsley@operationhomefront.net">felecia.billingsley@operationhomefront.net</a></span>
            </div>
        </div>
    </div><br />
    @{

        List<SelectListItem> dropDownList = new List<SelectListItem>();
        dropDownList.Add(new SelectListItem { Text = "San Antonio", Value = "0" });
        dropDownList.Add(new SelectListItem { Text = "California", Value = "1" });
        dropDownList.Add(new SelectListItem { Text = "Maryland", Value = "2" });

    }
    <p>Please select the Village location for which you are applying: &nbsp; @Html.DropDownList("Value", dropDownList, new { @class = "blInput" })</p>
    <div class="container">
        <div class="pageHeaderLabel">
            <h2><span>Operation Homefront Transitional Housing</span></h2>
            <h3><span>Program Eligibility Requirements</span></h3>
            <h5><span>(Applications will not be considered without submission of completed application and all required documentation)</span></h5>
        </div>
    </div>
    <div class="container">
        <b>Priority 1</b><br />
        Post 9/11 combat wounded medically discharged veteran with family waiting on VA compensation<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        DD214 (long copy)
                    </li>
                    <li>
                        Copy of ID (anyone in household 18 and over)
                    </li>
                    <li>
                        Proof of VA claim pending
                    </li>
                    <li>
                        Updated paperwork from the VA indicating VA compensation is pending
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <b>Priority 2</b><br />
        Post 9/11 wounded, injured or ill medically discharged veteran with family waiting on VA compensation<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        DD214 (long copy)
                    </li>
                    <li>
                        Copy of ID (anyone in household 18 and over)
                    </li>
                    <li>
                        Proof of VA claim pending
                    </li>
                    <li>
                        Updated paperwork from the VA indicating VA compensation is pending
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <b>Priority 3</b><br />
        Active duty Post 9/11 combat wounded service member and family in the med board process with VA appointments initiated.<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        Line of Duty Determination
                    </li>
                    <li>
                        Most current LES
                    </li>
                    <li>
                        Any other paystubs verifying all household income (spouses and other household contributors included)
                    </li>
                    <li>
                        Proof of VA appointment initiation (letter from case manager, appointment slip, etc.)
                    </li>
                    <li>
                        Copy of ID (anyone in household 18 and over)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <b>Priority 4</b><br />
        Active duty Post 9/11 injured/ ill service member with family, in the med board process with VA appointments initiated<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        Line of Duty Determination
                    </li>
                    <li>
                        Most current LES
                    </li>
                    <li>
                        Any other paystubs verifying all household income (spouses and other household contributors included)
                    </li>
                    <li>
                        Proof of VA appointment initiation (letter from case manager, appointment slip, etc.)
                    </li>
                    <li>
                        Copy of ID (anyone in household 18 and over)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <b>Priority 5</b><br />
        Active duty Post 9/11 service member with family in the med board process with a mortgage or lease elsewhere and VA appointments not yet initiated<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        Line of Duty Determination
                    </li>
                    <li>
                        Most current LES
                    </li>
                    <li>
                        Any other paystubs verifying all household income (spouses and other household contributors included)
                    </li>
                    <li>
                        Proof of VA appointment initiation (letter from case manager, appointment slip, etc.)
                    </li>
                    <li>
                        Copy of ID (anyone in household 18 and over)
                    </li>
                    <li>
                        Proof of mortgage or lease
                    </li>
                    <li>
                        Proof of payment for mortgage or lease
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <b>Priority 6</b><br />
        Veterans or service members with special circumstances will be considered if no other priorities are on the wait list<br />
        <ul class="docReqList">
            <li>
                <b>Documents Required:</b>
                <ul class="docReqListInner">
                    <li>
                        Letter as to why veteran or service member believes their situation should be considered under special<br /> consideration and any supporting documentation.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="pageHeaderLabel">
            <img src="~/Areas/Reports/Images/Logo.png" />
            <h3><span>Application for Operation Homefront Village</span></h3>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="float: left;">
                <span>DATE OF APPLICATION:  &nbsp;<input type="text" id="applicationDate" class="blInput" /></span>
            </div>
            <div class="col-md-6" style="float: left;">
                <span>Referred by:  &nbsp;<input type="text" id="applicationReferredBy" class="blInput" /></span>
            </div>
        </div>
    </div>
    <div class="container">
        Application Information
    </div>
    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td colspan="2">Applicant’s Name: (Last, First, MI)</td>
                <td colspan="2">Home Address:</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
            <tr>
                <td>DOB:</td>
                <td>Sex:</td>
                <td>Home Phone:</td>
                <td>Cell Phone:</td>
            </tr>
            <tr>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
            <tr>
                <td colspan="2">Email 1:</td>
                <td colspan="2">Email 2:</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
            <tr>
                <td>Mbr’s Pay Grade:</td>
                <td>Mbr’s Years in Service:</td>
                <td>Mbr’s Command:</td>
                <td>Mbr’s Branch of Service:</td>
            </tr>
            <tr>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
        </table>
    </div>
    <br />
    <div class="container">
        Applicant served in: OIF OEF
    </div>
    <br />
    <div class="container">
        What is the Nature of the Injury: Combat Wound Non-Combat Injury Disease Illness
    </div>
    <br />
    <div class="container">
        Is applicant a Purple Heart Recipient: _________ If yes, please provide supporting documentation.
    </div>
    <br />
    <div class="container">
        When did the injury occur: _____________________ Does Applicant Require a 1st floor Unit?: _________________
    </div>
    <br />
    <div class="container">
        Have you received a Military Disability Rating?: yes no If yes, what percentage? ________%
    </div>
    <br />
    <div class="container">
        Have VA appointments been initiated: _________ If yes, date of first appointment: ______________________
    </div>
    <br />
    <div class="container">
        Have you received a VA Medical Disability Rating: yes no If yes, what rating? _________% When are benefits expected?<br />
        _______________________. What is the dollar amount of benefits expected? $__________ per month
    </div>
    <br />
    <div class="container">
        What is the Applicants current Living Situation?: Post Housing Barracks Other __________________________________
    </div>
    <br />
    <div class="container">
        Why do you want to leave your Current Living Situation?:
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
    </div>
    <br />
    <div class="container">
        What would you like to accomplish during your stay at Operation Homefront Village?
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
        <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
            &nbsp;
        </div>
    </div>
    <br />
    <div clas="container">
        <b>SPOUSE/ DOMESTIC PARTNER INFORMATION:</b>
    </div>
    <br />

    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td colspan="2">Spouse/ Domestic Partner Name: (Last, First, MI)</td>
                <td colspan="2">Home Address:</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
            <tr>
                <td>DOB:</td>
                <td>Sex:</td>
                <td>Home Phone:</td>
                <td>Cell Phone:</td>
            </tr>
            <tr>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
            <tr>
                <td colspan="2">Email 1:</td>
                <td colspan="2">Email 2:</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
                <td colspan="2"><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div class="container">
        <table style="width: 100%; empty-cells: show;">
            <tr>
                <td>&nbsp;</td>
                <td>Last Name</td>
                <td>First Name</td>
                <td>M/F</td>
                <td>Age</td>
                <td>Birthdate</td>
                <td>Live in Home Full Time</td>
            </tr>


            @for (int i = 0; i < 6; i++)
            {
                <tr>
                    <td>
                        Child @(i + 1)
                    </td>
                    @for (int j = 0; j < 6; j++)
                    {
                        <td><input type="text" class="blInput inputFullWidth" /></td>
                    }
                </tr>
            }

        </table>
    </div>
    <br />
    <div class="container">
        <b>
            PETS: Aggressive breeds are not allowed at Operation Homefront Village. Only 2 pets per apartment and shot record must be current<br />
            and turned in prior to move in. If pet is not listed on the application you cannot move them in at a later date. Once you move in you may<br />
            not obtain a pet.
        </b>
    </div>
    <br/>
<div class="container">
    <table style="width: 100%;">
        <tr>
            <td>Breed</td>
            <td>Weight</td>
            <td>Age</td>
            <td>Color</td>
            <td>Name</td>
            <td>Shots up to date: (Y/N)</td>
        </tr>
        <tr>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
    </table>
</div>
<br />
<div class="container">
    <b>
        VEHICLE INFORMATION: There are property specific vehicle limitations per transitional housing site. If you have more than one vehicle you
        will need to request guidelines from the property director.
    </b>
</div>

    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td>Make</td>
                <td>Model</td>
                <td>Year</td>
                <td>License Plate Number</td>
            </tr>
            <tr>
                <td><input type="text" class="blInput inputFullWidth"/></td>
                <td><input type="text" class="blInput inputFullWidth"/></td>
                <td><input type="text" class="blInput inputFullWidth"/></td>
                <td><input type="text" class="blInput inputFullWidth"/></td>
            </tr>
            <tr>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
                <td><input type="text" class="blInput inputFullWidth" /></td>
            </tr>
        </table>
    </div>
    <br />
<div class="container">
    <b>
        REFERENCES: (references must be provided with correct contact information)
    </b>
</div>
<div class="container">
    <table style="width: 100%;">
        <tr>
            <td></td>
            <td>Name:</td>
            <td>Phone 1</td>
            <td>Phone 2</td>
            <td>LEmail Address</td>
        </tr>
        <tr>
            <td>Squad Leader:</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Case Manager:</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Personal Reference 1:</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Personal Reference 2:</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Previous Landlord:</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
    </table>
</div>
    <br/>
<div class="container">
    <b>ADDITIONAL REQUIRED DOCUMENTS:</b>
    <br/>
    Please see eligibility criteria to determine supporting criteria based on your situation.
</div>
<br/>
<div class="container">
    <b>Special circumstances you would like Operation Homefront to consider while considering application:</b>
</div>
<div class="container">

    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
</div>
    <br/>
<div class="container">
    <table style="width: 100%;">
        <tr>
            <td>Monthly Family Income</td>
            <td>Current</td>
            <td>Monthly Expenses</td>
            <td>Current</td>
            <td>Creditor</td>
            <td>Monthly Payment</td>
            <td>Total Balance Owed To Creditor</td>
        </tr>
        <tr>
            <td>Base Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Fed/ State Taxes Soc. Security/ Medicare</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>BAH</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Alimony/ Child/ Family Support (paid)</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Family Separation Allowance</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Fed/ State Taxes Soc. Security/ Medicare</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>BAS</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Rent/ Mortgage</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>

        <tr>
            <td>Sea Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Utilities</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Imminent Danger Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Telephone</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Hazardous Duty Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Food and Household Supplies</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>HOLA</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Clothing</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>COLA</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>House/ Personal Property Insurance</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Child Support Received</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Vehicle Insurance</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Second Income (NET)</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Vehicle/ Gas Maintenance</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Other</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Child Care</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Medical/ Dental</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>Social Security DI Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td>Miscellaneous</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>VA Pay</td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td><input type="text" class="blInput inputFullWidth" /></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
            <td><input type="text" class="blInput inputFullWidth"/></td>
        </tr>
        <tr>
            <td>TOTAL (A)</td>
            <td><input type="text" class="blInput inputFullWidth" /></td>
            <td>TOTAL (B)</td>
            <td><input type="text" class="blInput inputFullWidth" /></td>
            <td>TOTAL (C)</td>
            <td><input type="text" class="blInput inputFullWidth" /></td>
            <td><input type="text" class="blInput inputFullWidth" /></td>
        </tr>
    </table>
</div>

            <br/>
            <div class="container">
                <table style="float: left;">
                    <tr>
                        <td>Total Income (A)</td>
                        <td><input type="text" class="blInput inputFullWidth"/></td>
                    </tr>
                    <tr>
                        <td>Total Payments (B+C=D)</td>
                        <td><input type="text" class="blInput inputFullWidth"/></td>
                    </tr>
                    <tr>
                        <td>Net (A-D)</td>
                        <td><input type="text" class="blInput inputFullWidth"/></td>
                    </tr>
                </table>
                <div style="float: left; margin-left: 5px;">
                    Has Applicant Received TSGLI? Yes No If yes, how much was received? <br/>
                    $__________<br/>
                    Checking Account Balance: $__________ Savings Account Balance: $_________
                </div>
            </div>
<br/>
<div class="container"><b>
    I understand that:
    <ul>
        <li style="list-style: lower-alpha">
            The disclosure of this information on my application is voluntary;
        </li>
        <li style="list-style: lower-alpha">
            All information requested will be used only for determining eligibility for assistance
        </li>
        <li style="list-style: lower-alpha">
            The failure to provide all requested information will result in disapproval of this application;
        </li>
        <li style="list-style: lower-alpha">
            Operation Homefront may investigate my criminal, credit history and/ or bank account information as related to determination for<br />
            grant eligibility;
        </li>
    </ul>
    <br />
    I certify that the information provided on this application is complete, true and correct.<br />
    <input type="text" class="blInput inputFullWidth" /> <input type="text" class="blInput inputFullWidth" /><br />
    Applicant’s Signature   Date
    <br />
    <input type="text" class="blInput inputFullWidth" /> <input type="text" class="blInput inputFullWidth" /><br />
                           Spouse/ Domestic Partner Signature Date
</b>
</div>

<br/>
<div class="container" style="text-align: center;">    
        <h3><b>Resident Authorization and Consent for Release of Information</b></h3>
</div>
<br/>
<p>
    We welcome your application with Operation Homefront Village. In pursuit of continued excellence, we require that potential occupants consent to and authorize a credit check and verification of the background information submitted on the application.
</p>
<p>
    I, the undersigned applicant, do hereby certify that the information provided by me for the purpose of residency is true and complete to the best of my knowledge. I understand that if I am accepted for an apartment, any false statement will be considered as cause for possible dismissal. The results of this verification process will be used to determine eligibility for residency. All results will be proprietary and will be kept Confidential. The information obtained will not be provided to parties other than to designated Operation Homefront personnel.
</p>
<p>
    This release and authorization acknowledges that Operation Homefront may now, or at any time that I am occupying an apartment, conduct a verification of Education, Previous Employment, Work History, contact personal references, credit, require that I provide a urine specimen to be tested for the presence of drugs or alcohol, and motor vehicle records, any Criminal History record information pertaining to me which may be in the files of any Federal, State or Local Criminal Justice agency in any State, and any other information as deemed necessary to fulfill the employment requirements and retrieve in conformance with the Americans Disabilities Act. I acknowledge by my signature below that my occupant status is contingent upon a satisfactory background verification.
</p>
<p>
    I have read and understand this release and consent, and I authorize the background verification. I authorize persons, schools, current and former employers, and other organizations and agencies to provide Operation Homefront with all information that may be requested. I hereby release all of the persons, and agencies providing such information from any and all claims and damages connected with their release of any requested information. I agree that any copy of this document is valid as the original.
</p>
<p>
    I do hereby agree to forever release and discharge Operation Homefront, the agent, and their associates to the full extent permitted by law from any claims, damages, losses, liabilities, costs and expenses, or any charge or complaint filed with any agency arising from the retrieving and report of this information. According to the Federal Fair Credit Reporting Act, I am entitled to receive upon written request, a copy of the public record information.
</p>
<br/>

<div class="container">

    <div style="width: 40%; float: left">
        <input type="text" class="blInput inputFullWidth"/> <br/>
        Printed Name
        <br/>
        <input type="text" class="blInput inputFullWidth"/><br/>
        Social Security Number
    </div>


    <div style="width: 40%; float: left;">
        <input type="text" class="blInput inputFullWidth" style="width: 250px; float: left;"/><input class="blInput inputFullWidth" style="width: 75px; float: left; margin-left: 15px;"/>
        <br/>
        Signature Date
        <input type="text" class="blInput inputFullWidth"/><br/>
        Date of Birth
    </div>

    <br/>





    <div class="container">
        <input type="text" class="blInput inputFullWidth"/><br/>
        Address
    </div>
    <br/>

    <div style="width: 40%; float: left">
        <input type="text" class="blInput inputFullWidth"/> <br/>
        Signature Date
    </div>


    <div style="width: 40%; float: left;">
        <input type="text" class="blInput inputFullWidth"/><br/>
        D/L # & State
    </div>
    <br/>

</div>
<br/>
    <div class="=container">

        <p>
            Reference Checking Consent and Authorization Form (to be completed by applicant)
        </p>
        <p>
            <div style="border: 1px solid black;">
                <b>Disclosure</b>
            </div>
        </p>
        <br/>
        <p>
            Please read the information on this form carefully and completely.
        </p>
        <p>
            I have applied for an apartment with Operation Homefront and have provided information for requested references. I authorize Operation Homefront to conduct a reference check. I understand reference information may include, but not limited to, verbal or written inquiries or information about my need for an apartment, personal characteristics, previous rental history, medical status, personal information and relationship of reference.
        </p>
        <p>
            My signature below authorizes my references to release information that may be necessary for my application for housing assistance, whether the information is positive or negative. I knowingly and voluntarily release all references and Operation Homefront from any and all liability arising from giving or receiving information about myself.
        </p>
        <p>
            This form may be photocopied or reproduced as a facsimile, and these copies will be as effective as a release or consent as the original which I sign.
        </p>
    </div>

<br/>

<div class="container">
    <div class="container">
        <div style="width: 40%; float: left;">
            Name: <input type="text" class="blInput inputFullWidth"/><br/>
            Date: <input type="text" class="blInput inputFullWidth"/> <br/>
            Cell Phone: <input type="text" class="blInput inputFullWidth"/>
        </div>
        <div style="width: 40%; float: left;">
            Signature: <input type="text" class="blInput inputFullWidth"/><br/><br/>
            Alternate Phone: <input type="text" class="blInput inputFullWidth" style="width: 150px;" />
        </div>
    </div><br/>
    Email Address: <input type="text" class="blInput inputFullWidth"/>
</div>

    <br/>
<div style="height: 3px; width: 100%; background-color: black;"></div>
<br/>
<p>
    Reference Check (to be completed by listed applicants in reference section of the application)
</p>
<br/>



<p>
    Thank you for providing a reference for the above named applicant. Operation Homefront is a non- profit depending on donor dollars to assist our wounded, injured and ill through their medical transition from military to civilian life. IN order to ensure our donor dollars are being spent effectively it is important to us to get references on any and all applicants. We would appreciate you giving us an honest opinion and will keep all submitted information confidential.
</p>

<br/>
<p>
    How long have you known the applicant: __________________________
</p>
<p>
    Do you feel the applicant can benefit from our transitional housing program to include financial classes and benefits guidance: ______________________ Why? __________________________
</p>
<p>
    Do you have any concerns about the applicant or his family and do you think they will leave the apartment in good condition with no damages?
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
</p>
<p>
    Do you feel the applicant will follow community policies and guidelines and attend monthly mandatory requirements?
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
</p>
<p>
    Any other comments or concerns you think Operation Homefront should be made of prior to approving this application?
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
    <div clas="container" style="border-bottom: 1px solid black; background-color: #A1CAF1; opacity: .5;">
        &nbsp;
    </div>
</p>
<div class="container">
    <div style="width: 40%; float: left;">
        Name: <input type="text" class="blInput inputFullWidth"/> <br/>
        RelationShip to Applicant: <input type="text" class="blInput inputFullWidth" style="width: 150px;"/> <br/>
    </div>
    <div style="width: 40%; float: left;">
        Signature:<input type="text" class="blInput inputFullWidth"/> <br/>
        Date: <input type="text" class="blInput inputFullWidth" style="width: 150px;" />
    </div>
</div>
</div>





<br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br />

    <style type="text/css">
        .blInput {
            background-color:  #A1CAF1;
            opacity: .5;
            height: 30px;
            width: 200px;
            border: none;
            border-bottom: 1px solid black;
        }

        .pageHeaderLabel {
            width: 75%;
            text-align: center;
            margin: auto;
            font-weight: bold;
        }

        #midheaderlogo {
            width: 50%;
            text-align: center;
            margin: auto;
        }

        .midheaderlogo img {
            text-align: center;
        }

        .pageHeaderLabel h5 {
            text-align: center;
            margin: auto;
            font-weight: bold;
            color: red;
        }

        .docReqList {
            list-style-type: square;
        }

        .docReqListInner {
            list-style-type: disc;
        }

        table, tr, td {
            border: thin solid black;
        }

        .inputFullWidth {
            width: 100%;
        }

        .container {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }
    </style>
<script type="text/javascript">

    $(function() {

        Resize_Charts();

        $(window).resize(Resize_Charts);

    });
    function Resize_Charts() {
        $('.k-chart').each(function () {
            $(this).data("kendoChart").refresh();
        });
    }

</script>