﻿@using OH.Net.Areas.ReportsArea.Models
@model OH.BLL.Models.Reports.RallyPointDash

@{
    Layout = "~/Areas/ReportsArea/Views/Shared/_ReportsLayoutPage.cshtml"; 
}




    
    @{
        var chart = new BarChart { ChartName = "LineChart", ChartTitle = "TestChart" };



        chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Do I Eat", BarDataValue = new double[] { 1, 9, 6, 8 } });
        chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Did I Eat", BarDataValue = new double[] { 3, 4, 6, 8 } });
        chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Will I Eat", BarDataValue = new double[] { 5, 2, 7, 4 } });
        chart.ShowLabels = true;
        chart.ShowToolTips = true;
        chart.VisibleGridLines = true;
           
    }


<div class="row-container clearfix" style="background-color: white; border: 10px solid black; border-radius: 5px;width: 80%;margin: auto;">

    <div class="row-container clearfix">
        <h2><b>Quick View</b></h2>
    </div>
    <div class="row-container clearfix">
        <div class="rpDash-top" style="background-color: black;">
            <div class="rdDash-mid"> <span class="rpDash-top-num">@Html.DisplayFor(m => m.ActiveDistributionEvents)</span><br />Total Active Events</div>
        </div>
        <div class="rpDash-top" style="background-color: green;">
            <span class="rpDash-top-num">@Html.DisplayFor(m => m.TotalActiveCollectionVolunteers)</span> <br />Total Volunteers
        </div>
        <div class="rpDash-top" style="background-color: green;">
            <span class="rpDash-top-num">@Html.DisplayFor(m => m.AverageStoresToVolunteer)</span><br />Avg # of Stores/Volunteers
        </div>
        <div class="rpDash-top" style="background-color: blue;">
            <span class="rpDash-top-num">989</span><br />Total Military Families
        </div>
    </div>
    <div class="row-container clearfix">
        <div class="rdDash-3 push-left" style="border-radius: 3px;">
            <div style=" background-color: black; color: white;  text-align: center; padding: 3px; border-top-right-radius: 5px; border-top-left-radius: 5px;">Upcoming Events</div>

            @foreach (var dist in Model.DistributionEvents)
            {
                <div class="upComingEvents">
                    @dist.Start @dist.Locations.ElementAt(0).Description<br />@dist.Locations.ElementAt(0).Address.City ,MO
                </div>
            }

        </div>


        <div class="rdDash-3 push-left">
            <div style="background-color:  green; color: white;  text-align: center; padding: 3px; border-top-right-radius: 5px; border-top-left-radius: 5px;">Live Collection Event Activity</div>
            <div>
                Stores<span style="font-size: .6em; float: right;">1,023filled 3,368 available</span>
                <div>
                    @(Html.Kendo().ProgressBar()
                          .Name("LiveCollEvenProgBar")
                          .Max(100)
                          .Min(0)
                          .Value(30.3)
                          .Animation(a => a.Duration(600))
                          .ShowStatus(false)
                          .Type(ProgressBarType.Value))
                </div>
                <div>Fill by June 27, 2014</div>
                <div class="row" style="text-align: center; font-weight: bold;">


                    <div class="rdDash-4-sm push-left">
                        <span class="rpDash-md-font">8:</span><br />Weeks
                    </div>

                    <div class="rdDash-4-sm push-left">
                        <span class="rpDash-md-font">3:</span><br />Days
                    </div>

                    <div class="rdDash-4-sm push-left">
                        <span class="rpDash-md-font">22:</span><br />Hours
                    </div>

                    <div class="rdDash-4-sm push-left">
                        <span class="rpDash-md-font">46</span><br />Minutes
                    </div>

                </div>
            </div>
        </div>


        <div class="rdDash-3 push-left">
            <div style="background-color:  blue; color: white; padding: 3px; border-top-right-radius: 5px;border-top-left-radius: 5px; ">Military Family Demographics</div>
        </div>
    </div>
    <div class="row-container clearfix">
        <div class="rdDash-12 push-left">

            <div style="background-color: black; color: white; border-top-right-radius: 5px; border-top-left-radius: 5px;">Live Registration Activity</div>

            @(Html.Kendo().PanelBar()
                      .Name("LiveRegAct")
                      .ExpandMode(PanelBarExpandMode.Single)
                      .HtmlAttributes(new { style = "width: 100%;" })
                      .Items(items =>
                      {
                          items.Add().Text("Mother's Day Brunch in St. Louis, Mo").Visible(true).Expanded(false).Content(@<text>TestArea</text>);
                          items.Add().Text("Back-To-School Brigade").Content(@<text>@Html.Partial("/Areas/ReportsArea/Views/_BarChartPartialPage.cshtml", chart)</text>)

                              .Visible(true).Expanded(true);
                          items.Add().Text("Homefront Celebration in Kansas City, MO").Visible(true).Expanded(false).Content(@<text>TestArea</text>);
                          items.Add().Text("Star-Spangled Babies in Overland Park, KS").Visible(true).Expanded(false).Content(@<text>TestArea</text>);

                      })
)

        </div>
    </div>
</div>



<style type="text/css">
    .rpDash-md-font{
        font-size: 1.8em;
    }
    .clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
    .rdDash-4{
        width: 24%;
        padding: 5px;
    }
        .rdDash-4-sm{
        width: 20%;
        padding: 5px;
    }
    .push-left{
        float: left;
    }
    .rdDash-12{
        width: 100%;
        margin: auto;
    }
    .rdDash-3{
        width: 31%;
        padding: 5px;
    }
    .row-container{
        width: 99%;
        padding: 5px;
        margin: auto;
    }
    .rdDash-mid {
        /*margin: 3px;*/

    }
    .rpDash-top {
        color: white;
        border-radius: 5px;
        height: 65px;
        width: 23%;
        margin: 5px;
        float: left;
        text-align: center;
    }
    .rpDash-top-num {
        font-size: 2em;

    }
    .upComingEvents {
        border-bottom: 1px solid black;
        font-size: .85em;
        font-weight: bold;
    }

    #LiveCollEvenProgBar {
        width: 90%;
        height: 15px;
    }
</style>

<script type="text/javascript">

    $(function () {

        Resize_Charts();

        $(window).resize(Resize_Charts);

    });
    function Resize_Charts() {
        $('.k-chart').each(function () {
            $(this).data("kendoChart").refresh();
        });
    }

</script>