﻿@using Kendo.Mvc.UI
@model OH.BLL.Models.Categories.CategoryViewModel

@using (Html.BeginForm("Create","Category",FormMethod.Post, new {id="createCategoryForm"}))
{
    @Html.AntiForgeryToken()

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)

    </div>
    <div class="editor-field">
        @(Html.HiddenFor(model => model.Id))
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @(Html.Kendo().TextBoxFor(model => model.Name))
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="submitButton">
        @(Html.Kendo().Button()
              .Name("createCategoryButton")
              .HtmlAttributes(new { type = "submit"})
              .Content("Create"))
    </div>
}

<style scoped>
    .submitButton { float: right;
        padding-top: 5px;
    }
</style>