﻿@using Kendo.Mvc.UI
@model OH.BLL.Models.Categories.CategoryViewModel
@(Html.Kendo().TreeView()
    .Name("MyOHTreeView")
    .HtmlAttributes(new { @class = "MyOHTreeView-section" })
    .DataTextField("Name")
    .DataSource(dataSource => dataSource
            .Model(model => model
                // The property that uniquely identifies a node.
                // The value of this property is the argument of the action method
                .Id("CategoryId")
                // the boolean property that tells whether a node has children
                    .HasChildren("SubCategories")
            )
        .Read(read => read
                        .Action("Categories", "Category")
        )
    )
)

<style scoped>
    #example {
        text-align: center;
    }

    .MyOHTreeView-section {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        height: 300px;
        text-align: left;
        margin: 0 2em;
    }
</style>
@*<div class="demo-section">
    @(Html.Kendo().TreeView()
        .Name("treeview")
        .Items(treeview => treeview.Add().Text("My Web Site")
            .SpriteCssClasses("folder")
            .Expanded(true)
            .Items(root =>
            {
                root.Add().Text("images")
                    .Expanded(true)
                    .SpriteCssClasses("folder")
                    .Items(images =>
                    {
                        images.Add().Text("logo.png")
                            .SpriteCssClasses("image");

                        images.Add().Text("body-back.png")
                            .SpriteCssClasses("image");

                        images.Add().Text("my-photo.jpg")
                            .SpriteCssClasses("image");
                    });

                root.Add().Text("resources")
                    .Expanded(true)
                    .SpriteCssClasses("folder")
                    .Items(resources =>
                    {
                        resources.Add().Text("pdf")
                            .Expanded(true)
                            .SpriteCssClasses("folder")
                            .Items(pdf =>
                            {
                                pdf.Add().Text("brochure.pdf")
                                    .SpriteCssClasses("pdf");

                                pdf.Add().Text("prices.pdf")
                                    .SpriteCssClasses("pdf");
                            });

                        resources.Add().Text("zip")
                            .SpriteCssClasses("folder");
                    });

                root.Add().Text("about.html")
                    .SpriteCssClasses("html");

                root.Add().Text("contacts.html")
                    .SpriteCssClasses("html");

                root.Add().Text("index.html")
                    .SpriteCssClasses("html");

                root.Add().Text("portfolio.html")
                    .SpriteCssClasses("html");
            }))
    )
</div>

<style scoped>
    .demo-section {
        width: 200px;
    }

    #treeview .k-sprite {
        background-image: url("@Url.Content("~/Content/kendo/2014.2.716/images/treeview/coloricons-sprite.png")");
    }

    .rootfolder { background-position: 0 0; }
    .folder { background-position: 0 -16px; }
    .pdf { background-position: 0 -32px; }
    .html { background-position: 0 -48px; }
    .image { background-position: 0 -64px; }
</style>*@