﻿@using Kendo.Mvc.UI
@using OH.EnumsV4.Common
@model OH.BLL.Models.Persons.PersonAddressViewModel
@{
    var states = new SelectList(StateTypes.ComboListStatesWithAbreviations(), "Value", "Key");
}
<table style="padding: 0 10px; display: block;">
    <tbody>
        <tr>
            <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px">@Html.EditorFor(model => model.Address.Address1)</td>
            <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px">@Html.EditorFor(model => model.Address.Address2)</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Address.City)</td>
            <td>@(Html.Kendo().DropDownListFor(x=>x.Address.State).DataTextField("Value").DataValueField("Value").BindTo(states).HtmlAttributes(new { style = "width:70px" }))
                &nbsp;&nbsp;@Html.EditorFor(model => model.Address.Zip, @"Zip")</td>
        </tr>
    </tbody>
</table>
@Html.HiddenFor(m => m.Address.Id)
@*@Html.TextBoxFor(m => m.AddressId)
@Html.TextBoxFor(m => m.PersonId)*@
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.AddressType)