﻿@using Kendo.Mvc.UI
@using OH.Net.Areas.Program

@using OH.Net.Areas.Program.Models
@model OH.BLL.Models.Categories.CategoryTreeViewModel
<div style="margin-left:20px">
    <table>
        <tbody>
            <tr><td colspan="2" style="vertical-align:top"><h1 style="font-family:FSP-Bold;color:#083b5a">Documents</h1><p style="padding-left:5px;padding-bottom:10px;padding-top:10px"><i>Documents description</i></p></td></tr>
            <tr>
                <td style="vertical-align:top;margin:20px 20px">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <h4>Manage</h4>
                                        @Html.Partial("~/Areas/WidgetFactory/Views/Category/ShowTree.cshtml", Model)
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td rowspan="2" style="vertical-align:top">
                    @*<table>
                        <tbody>

                            <tr>
                                <td style="padding-left:20px;padding-bottom:10px">
                                    <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                        <h4>You may also qualify for</h4>
                                        <table style="padding: 10px 10px; width: 100%;">
                                            <tbody>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;padding-bottom:10px">
                                    <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                        <h4>Notifications</h4>
                                        <table style="padding: 10px 10px; width: 100%;">
                                            <tbody>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>*@
                </td>
            </tr>
        </tbody>
    </table>

</div>
<style>

</style>