﻿@using OH.Net.Models
@model LoginViewModel

@{
    ViewBag.Title = "My Operation Homefront";
    Layout        = "~/Views/Shared/_Home.cshtml";
}

<div class="home-page-image">
    <img src="/Images/father-son.png" alt="father-son image"/>
 </div>   
<div class="login-panel container">
    <div class="login-bottom-layer side"></div>
    <div class="login-top-layer side">
        <div id="login" class="side-contents">
            
                <table cols="3">
                    <tbody>
                        <tr>
                            <td style="">
                                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <h5 style="margin: 10px 0 16px;">Log Into Your Profile</h5>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(m => m.Email, new { @class = "form-control login-email-address"})
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(m => m.Password, new { @class = "form-control lowin-password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h6 style="margin: 10px 0"><a onclick=" ShowForgotPassword(); ">I forgot my password.</a></h6>
                                    <h6>E-mail address changed?  <a onclick=" ShowUpdateEmailAddress(); ">Update it here.</a></h6>
                                    <div class="center" style="margin-top: 10px;">
                                        <button type="submit" id="login-submit">Login</button>
                                    </div>
                                }
                            </td>
                            <td><strong>Or</strong>&emsp;</td>
                            <td style="">
                                <div class="oauth-login-buttons">
                                    <button class="login-facebook">Login with Facebook</button><br />
                                    <button class="login-twitter">Login with Twitter</button><br />
                                    <button class="login-google">Login with Google</button><br />
                                    <button class="login-windows-live">Login with Windows Live</button><br />
                                </div>
                                <div class="center">
                                    <h6 style="margin-top: 4px;">Don't have a profile?</h6>
                                    @*<h6><a href="@Url.Action("Inside", "Home")">Create one!</a></h6>*@
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div id="forgot-password-id" class="side-contents hidden">
            <h5 style="margin: 10px 0 8px">What's my password?</h5>
            <p>Enter the e-mail address associated with your My Operation Homefront profile, then click Submit.  We'll email you a link to a page where you can easily create a new password</p>
            <input id="password-reset-email-address" type="email" placeholder="Email Address" style="width: 70%; margin: 5pt 0" />
            <p style="margin-top: 6pt;">Has your e-mail address changed?  <a onclick="ShowUpdateEmailAddress2();">Update it here.</a></p>
            <div class="center" style="margin-top: 6pt;">
                <button id="submit-password-reset" onclick="SubmitPasswordReset();">Submit</button>&emsp;&emsp;<button id="cancel-password-reset" onclick="CancelPasswordReset();">Cancel</button>
            </div>
        </div>
        <div id="email-update-id" class="side-contents hidden">
            <h5 style="margin: 10px 0 8px;">Email Update</h5>
            <label>What is your old email address?</label>
            <input id="old-email-address" type="email" placeholder="Email Address"/><br/>

            <label>What is your password?</label>
            <input id="password" type="password" placeholder="Password" /><br />

            <label>What is your new email address?</label>
            <input id="new-email-address" type="email" placeholder="New email address" /><br />

            <label>Enter new email address again.</label>
            <input id="verify-new-email-address" type="email" placeholder="Re-enter new email address" /><br />

            <div class="center" style="margin-top: 4pt;">
                <button id="submit-email-change" onclick="SubmitEmailChange();">Submit</button>&emsp;&emsp;<button id="cancel-email-change" onclick="CancelEmailChange();">Cancel</button>
            </div>
        </div>
    </div>
</div>
    
<span id="popupNotification"></span>

@section styles {
    @Styles.Render("~/Content/css/HomePage")
}

@section scripts {
    <script type="text/javascript">
        var notificationWidget;
        var login_forgotPassword = kendo.fx("#container").flipHorizontal($("#login"), $("#forgot-password-id")).duration(1000);
        var login_emailUpdate    = kendo.fx("#container").flipHorizontal($("#login"), $("#email-update-id")).duration(1000);

        $(document).ready(function () {
            //
            // Set up notification messages
            //
            notificationWidget = $("#popupNotification").kendoNotification({
                allowHideAfter: 2000,       // Allow hide after 2 seconds
                autoHideAfter: 8000,        // Hide automatically after 8 seconds
                animation: {
                    open: {
                        effects: "slideIn:up fadeIn",
                        duration: 500
                    },
                    close: {
                        efects: "slideIn:up fadeIn",
                        reverse: true
                    }
                }
            }).data("kendoNotification");
            //
            // Set up login buttons
            //
            $(".login-facebook").kendoButton({
                imageUrl: "/images/fb-icon-sm.png"
            });
            $(".login-twitter").kendoButton({
                imageUrl: "/images/twitter-icon-sm.png"
            });
            $(".login-google").kendoButton({
                imageUrl: "/images/google-icon-sm.png"
            });
            $(".login-windows-live").kendoButton({
                imageUrl: "/images/windows-live-icon-sm.png"
            });
            $("#submit-password-reset").kendoButton({});
            $("#cancel-password-reset").kendoButton({});
            $("#submit-email-change").kendoButton({});
            $("#cancel-email-change").kendoButton({});
        });

        /*
         * Forgot Password
         */
        function ShowForgotPassword() {
            login_forgotPassword.stop().play();
        }

        function SubmitPasswordReset() {
            notificationWidget.success("A password reset email has been sent.");
            login_forgotPassword.stop().reverse();
        }

        function CancelPasswordReset() {
            login_forgotPassword.stop().reverse();
        }

        /*
         * Update Email Address
         */
        function ShowUpdateEmailAddress() {
            login_emailUpdate.stop().play();
        }

        function ShowUpdateEmailAddress2() {
            login_forgotPassword.stop().reverse();
            ShowUpdateEmailAddress();
        }

        function SubmitEmailChange() {
            notificationWidget.success("Your email address has been changed.");
            login_emailUpdate.stop().reverse();
        }

        function CancelEmailChange() {
            login_emailUpdate.stop().reverse();
        }
    </script>
}