﻿@{
    ViewBag.Title = "Inside Page";
    Layout        = "~/Views/Shared/_OneColumnLeftNav.cshtml";
}

<h3>Military Family Profile Edit</h3>
<p style="text-align: justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam sapien, tincidunt eget risus in, auctor consequat orci. Duis in maximus sapien. Cras convallis vehicula ligula, lobortis tincidunt mi rhoncus sit amet. Aliquam sed tristique ligula. Cras sodales auctor dui, ac pretium enim dignissim vitae. Cras egestas lacus at ligula scelerisque varius. Suspendisse eget laoreet est. Nullam nunc magna, ultrices id luctus at, elementum eu mi. Pellentesque leo risus, sodales ut rutrum ac, lacinia ut magna. Morbi venenatis, est efficitur interdum malesuada, orci neque fringilla tellus, ut malesuada neque lacus dapibus nunc. Nulla molestie molestie pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas sollicitudin neque ac interdum. Aenean vitae ex eu massa varius varius.
</p>
<p style="text-align: justify">
    Ut in urna quis arcu posuere euismod et a nibh. Praesent tempor mollis justo, at sodales nisi pretium sit amet. Suspendisse scelerisque arcu velit, blandit pretium arcu rutrum in. Sed consectetur arcu a mauris semper, nec fringilla dui facilisis. Morbi pellentesque venenatis diam, nec sodales enim consequat vitae. Phasellus scelerisque aliquet tempor. Curabitur eu pellentesque ipsum, vestibulum luctus tellus. Phasellus fermentum elementum risus in vehicula. Curabitur vehicula porttitor nulla et venenatis. Sed fermentum, eros vel ullamcorper vehicula, leo nisi consequat mauris, a rhoncus magna lorem et magna. Maecenas varius, arcu et pellentesque dignissim, velit eros finibus lacus, at convallis metus purus sit amet dolor. Fusce maximus lectus et elit condimentum, nec ullamcorper leo faucibus. Etiam facilisis diam dui, nec porta lectus maximus nec. Aenean eros dui, ornare nec diam nec, tristique tincidunt eros. Cras eget suscipit nisl.
</p>
<p style="text-align: justify">
    Suspendisse fringilla ante et augue rhoncus semper. Nam at libero sit amet lorem euismod luctus quis eu nibh. Aliquam erat volutpat. In id tortor sagittis, malesuada dolor ac, elementum dui. Fusce facilisis tortor eget urna dictum, non venenatis sem accumsan. Integer laoreet id orci id rutrum. Curabitur dictum commodo pellentesque. Integer a pharetra lorem. Sed accumsan urna eget odio accumsan, et rhoncus lectus faucibus.
</p>
<p style="text-align: justify">
    Phasellus sit amet tempus diam, eu ultricies magna. Quisque sodales in eros id tincidunt. Nullam dapibus enim quis augue tristique, vitae imperdiet ligula sodales. Curabitur vel justo eu dui viverra sodales. Pellentesque eros lectus, dictum eu accumsan ut, volutpat in quam. Phasellus sagittis commodo justo, at cursus lorem gravida vitae. Ut consequat, neque eget congue faucibus, metus arcu consectetur ante, a semper lectus libero nec ligula.
</p>

@section styles {
    @Styles.Render("~/Content/css/InsidePage")    
}

@section scripts {
    
}