﻿@using Kendo.Mvc.UI
@using OH.Net.Areas.Program

@using OH.Net.Areas.Program.Models
<div style="margin-left:20px">
    

    <table>
        <tbody>
            <tr><td colspan="2" style="vertical-align:top"><h1 style="font-family:FSP-Bold;color:#083b5a">Profile</h1><p style="padding-left:5px;padding-bottom:10px;padding-top:10px"><i>Applications description</i></p></td></tr>
            <tr>
                <td style="vertical-align:top;margin:20px 20px">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="sidebar" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <div class="widget-title">
                                            <h4>Setup</h4>
                                        </div>
                                        <div style="padding:5px">
                                           @(Html.Kendo().PanelBar()
                                           .Name("profilePanel")
                                            .HtmlAttributes(new {style="width:590px"})
                                           .Items(panelbar =>
                                           {
                                               panelbar.Add().Text("Testing").Expanded(true).Content(@<div style ="padding: 10px;">
                                                                                                        <div>Content from profile</div>
                                                                                                    </div>);
                                               panelbar.Add().Text("Testing").Expanded(true).Content(@<div style="padding: 10px;">
                                                    <div>Of Caregiver profile</div>
                                                </div>);
                                           }
                                           ))
                                            
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td rowspan="2" style="vertical-align:top">
                    <table>
                        <tbody>

                            <tr>
                                <td style="padding-left:20px;padding-bottom:10px">
                                    <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                        <div class="widget-title">
                                            <h4>You may also qalify</h4>
                                        </div>
                                        <table style="padding: 10px 10px; width: 100%;">
                                            <tbody>
                                                <tr><td>her</td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<style>

    </style>

<script>
 

</script>