﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using OH.Net.Areas.ReportsArea.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var chart = new BarChart { ChartName = "LineChart", ChartTitle = "TestChart" };

    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Do I Eat", BarDataValue = new double[] { 1, 9, 6, 8 } });
    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Did I Eat", BarDataValue = new double[] { 3, 4, 6, 8 } });
    chart.BarChartData.Add(new BarChartSeries() { SeriesName = "Will I Eat", BarDataValue = new double[] { 5, 2, 7, 4 } });
    chart.ShowLabels = true;
    chart.ShowToolTips = true;
    chart.VisibleGridLines = true;
}

<div style="height: 600px; width: 600px;">
    @Html.Partial("/Areas/Reports/Views/_BarChartPartialPage.cshtml", chart)
</div>


<script type="text/javascript">

    $(function() {

        Resize_Charts();

        $(window).resize(Resize_Charts);

    });
    function Resize_Charts() {
        $('.k-chart').each(function () {
            $(this).data("kendoChart").refresh();
        });
    }

</script>