﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.Events
@using OH.BLL.Models.Addresseses
@using OH.BLL.Models.TimeStamps
@model  IEnumerable<CollectionEventViewModel>
<div id="griderHeader" style="height: 100px;">description of page and data here: </div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#griderHeader").append($(lastClick.node).attr("name"));
    });

    function showDetails(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var u = "@Url.Action("Edit","CollectionEvent",null)" + "/" + dataItem.Id;
        $("#displayContent").load(u);
    }
</script>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        //columns.Bound(p => p.id).Title("MeetingId")
        columns.Bound(p => p.Title).Title("Event Name");
        columns.Bound(p => p.Owner.InternalName).Title("Office Owner");
        columns.Bound(p => p.RegistrationOpensUtc).ClientTemplate("#= kendo.toString(RegistrationOpensUtc, \"MM/dd/yyyy hh:mm tt\") #").Title("Start");
        columns.Bound(p => p.RegistrationClosesUtc).ClientTemplate("#= kendo.toString(RegistrationClosesUtc, \"MM/dd/yyyy hh:mm tt\") #").Title("End");
        columns.Bound(p => p.NumLocationsFormatted).Encoded(false).Title("Location").Width(110);
        columns.Bound(p => p.NumVolunteers).Title("Volunteer");
        columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));
    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
        .ToolBar(a => a.Custom().Text("Refresh").Url("#_").HtmlAttributes(new { onclick = "selectedEvent()" }))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
      )

@(Html.Kendo().Tooltip().For(".tTip").Filter("a").Position(TooltipPosition.Right))


