﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.Events
@model  IEnumerable<DistributionEventViewModel>
<div id="griderHeader" style="height: 100px;">description of page and data here: </div>
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Title).Title("Title");
        columns.Bound(p => p.Owner.InternalName).Title("Office Owner");
        columns.Bound(p => p.RegistrationOpensUtc).ClientTemplate("#= kendo.toString(RegistrationOpensUtc, \"MM/dd/yyyy hh:mm tt\") #").Title("Start");
        columns.Bound(p => p.RegistrationClosesUtc).ClientTemplate("#= kendo.toString(RegistrationClosesUtc, \"MM/dd/yyyy hh:mm tt\") #").Title("End");
        columns.Bound(p => p.ParticipantsDetailed).Encoded(false).Title("Participating Offices");
        columns.Bound(p => p.NumLocationsFormatted).Encoded(false).Title("Location").Width(110);
        columns.Bound(p => p.NumRegistrants).Title("Registrants").Width(120);
        columns.Bound(p => p.NumAttendees).Title("Attendees").Width(110);
        columns.Bound(p => p.MeetingID).Title("Report/Manage/Edit");//.ClientTemplate("#= Html.ActionLink('DistributionEventReport', 'DistributionEventReport', new { eventId = MeetingID }) #").Title("Report");
    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
            .ToolBar(a => a.Custom().Text("Refresh").Url("#_").HtmlAttributes(new { onclick = "selectedEvent()" }))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
      )


@(Html.Kendo().Tooltip().For(".tTip").Filter("a").Position(TooltipPosition.Right))

<script type="text/javascript">
    $(document).ready(function () {
        $("#griderHeader").append($(lastClick.node).attr("name"));
    });
</script>
@*<ul class="indent">
    <li class="header">
        <span class="event-title">Title</span>
        <span class="event-nat-loc">Nat/Loc</span>
        <span class="event-date">Start</span>
        <span class="event-date">End</span>
        <span class="event-loc-cnt">Locations</span>
        <span class="event-vol-cnt">Volunteer</span>
    </li>
    @foreach (var aev in Model)
    {
        List<SelectListItem> myList = new List<SelectListItem>();
        myList.Add(new SelectListItem() { Text = "Select...", Value = "" });
        <li>
            <span class="event-title"><a class="manage-link" href="@Url.Action("Edit", "CollectionEvent", new {eventId = @aev.EventId})">@aev.Title</a></span>
            <span class="event-nat-loc">office</span>
            <span class="event-date">@aev.RegistrationOpens.ToString("MM/dd/yy")</span>
            <span class="event-date">@aev.RegistrationCloses.ToString("MM/dd/yy")</span>
            <span class="event-loc-cnt">@aev.Locations.Count().ToString("#,##0")</span>
            <span class="event-vol-cnt">@aev.Volunteers.Count().ToString("#,##0")</span>
            <span class="event-mgn-cnt">
                @Html.DropDownList("ManageList", myList, new { @class = "ManageList", @style = "width: 120px;" })
            </span>
        </li>
        <li style="display: none" onclick="ShowHideQuickView(this, 'QuickView_@(aev.EventId)', @aev.EventId)">
            Quick View
            <div id="wait-div_@(aev.EventId)" style="display: none; text-align: center;"><img src="/Images/AjaxSpinners/spinner3-black.gif" alt="Please wait." /></div>
            <div id="QuickView_@(aev.EventId)" style="display: none"></div>
        </li>
    }
</ul>*@
