﻿@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using OH.BLL.Models



<div style="padding-top:60px;padding-left:10px">
    @(
    Html.Kendo().TreeView()
           .Name("treeview-right")
               .BindTo((IEnumerable<NavigationItemViewModel>)ViewBag.inline, (NavigationBindingFactory<TreeViewItem> mappings) =>
           {
               mappings.For<NavigationItemViewModel>(binding => binding.ItemDataBound((item, category) =>
               {
                   item.Text = category.CategoryName;
                   item.HtmlAttributes.Add("name", category.Controller + "/" + category.Action);
                   item.Expanded = true;
               })
                   .Children(category => category.SubCategories));

               mappings.For<NavigationSubItemViewModel>(binding => binding.ItemDataBound((item, subCategory) =>
               {
                   if (string.IsNullOrEmpty(subCategory.Controller))
                   {
                       item.Text = subCategory.SubCategoryName;
                   }
                   else
                   {
                       item.Text = @Html.Raw(" - ") + subCategory.SubCategoryName;
                       item.HtmlAttributes.Add("name", subCategory.Controller + "/" + subCategory.Action);
                       item.HtmlAttributes.Add("style", "margin-left:5px;");
                   }
               }));
           })
               .Events(e => e.Select("selectedEvent"))
             )   
</div>
<script>


    var lastClick;
    function selectedEvent(e) {
        if (e == null) e = lastClick;
        lastClick = e;
        var itemUid = $(e.node).attr("name");
        if (itemUid != null && itemUid != "")
            $("#displayContent").load(itemUid);
    }

</script>
