﻿/*****************************************************************
    Fonts

    FSP = Freight Sans Pro
*****************************************************************/
@font-face {
    font-family: FSP-Light;
    src: url('/fonts/FreightSansPro/FreigSanProLig.otf');
}

@font-face {
    font-family: FSP-Book;
    src: url('/fonts/FreightSansPro/FreigSanProBook.otf');
}

@font-face {
    font-family: FSP-Medium;
    src: url('/fonts/FreightSansPro/FreigSanProMed.otf');
}

@font-face {
   font-family: FSP-SemiBold; 
   src: url('/fonts/FreightSansPro/FreigSanProSem.otf');
}

@font-face {
   font-family: FSP-Bold; 
   src: url('/fonts/FreightSansPro/FreigSanProBold.otf');
}

@font-face {
   font-family: FSP-Black; 
   src: url('/fonts/FreightSansPro/FreigSanProBlk.otf');
}

/*****************************************************************
    HTML Tags
*****************************************************************/
body {
    font-family: FSP-Medium;
    margin: 0;
    padding: 0;
}

p {
    font-family: FSP-Book;
    font-size: 11pt;
    line-height: 120%;
    margin: 2px 0 5px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #003e63;
}
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    a.image-link,
    a.image-link:hover {
        text-decoration: none;
    }

table {
    border-collapse: collapse;
}

h1 {
    
}
h2 {
    
}
h3 {
    font-family: FSP-SemiBold;
    font-size: 18pt;
    line-height: 22pt;
    margin: 0;
    padding: 0;
}
h4 {
    
}
h5 {
    font-family: FSP-Bold;
    font-size: 14pt;
    line-height: 16pt;
    margin: 0 0 2pt;
    padding: 0;    
}
h6 {
font-family: FSP-Book;
    font-size: 9pt;
    line-height: 9pt;
    margin: 0;
    padding: 0;
}


/*button {
    background-color: #003e63;
    border: medium none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #999;
    color: white;
    margin: 5px 0;
    padding: 2px 10px;
}
    button:hover {
        box-shadow: none;
        cursor: pointer;
    }*/

/*****************************************************************
    Site-wide definitions
*****************************************************************/
.center {
    text-align: center;
}

.hidden {
    display: none;
}
.gray-background {
    background-color: #efefef
}
/*****************************************************************
    Header
*****************************************************************/
.top-of-header {
    padding: 2pt 12pt;
}
.header {
    
}
    .header #big-blue-bar {
        background-color: #003e63;
        padding: 10px 0 0;
    }
    .header #logo {
        padding-left: 26px;
        vertical-align: middle;
    }
    .header #title {
        color: white;
        font-family: FSP-Black;
        font-size: 39pt;
        padding-left: 30px;
        text-shadow: 1px 5px 2px black;
        vertical-align: top;
        white-space: nowrap;
    }
.header .contact-info {
    color: white;
    float: right;
    font-size: 9pt;
    line-height: 9pt;
    margin-right: 12pt;
    position: relative;
    top: -40px;
    height: 0;
}
.header .contact-info .label {
    padding-right: 5px;
    text-align: right;
}    
.header .contact-info .phone {
    text-align: left;
}
/*****************************************************************
    Footer
*****************************************************************/
.footer {
    clear: both;
    padding: 10pt 0;
}
.footer-contact-info {
    float: left;
    font-size: 10pt;
    line-height: 12pt;
}
.social-icons {
    clear: both;
    height: 0;
    margin-top: 4px;
    position: relative;
    text-align: center;
    top: -30px;
}
.social-icons img {
    height: 26px;   
}
.address {
}
.copyright {}

/*****************************************************************
    Accreditations
*****************************************************************/
.progress-accreditations {
    border-top: 1px solid #AAAAAA;
    padding: 4px 0;
}
.accreditations {
    float: right;
    line-height: 70px;
    text-align: center;
}
.accreditation-image {
    height: 70px;
    padding-left: 10px;
    vertical-align: middle;
}
/*****************************************************************
    Left Navigation
*****************************************************************/
.left-navigation {
    /*border: 1px solid #ffffff;
    box-sizing: border-box;*/
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 120px;
    background: url("/images/vertical-gradient.png") right repeat-y;
}
.left-navigation li {
    border-bottom: 1px solid #ccc;
    font-size: 10pt;
    padding: 2px 0 2px 5px;
    margin-right: 14px;
}
    .left-navigation li:hover {
        background-color: #efefef;
        cursor: pointer;
    }

.left-nav-gradient {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #c4c4c4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#c4c4c4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#c4c4c4 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#c4c4c4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=1 ); /* IE6-9 */

    width: 10px;
    float: left;
}
/*****************************************************************
    Flip Cards
*****************************************************************/
.container {
    position: relative;
}
.side {
    position: absolute;
    width: 100%;
}
.side-contents {
    /*border: 1px solid red;*/
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
/****************************************************************
    Kendo Notification Style Overrides
****************************************************************/
.k-notification.k-notification-success {
    background-color: #92E59F !important;
    border-color: #97C49D !important;
    color: #315637 !important;
}

/*****************************************************************
    Inside Right Column
*****************************************************************/
.inside-right-column {
    /*border: 1px solid;
    box-sizing: border-box;*/
    padding: 10pt 0 10pt 15pt;
}

.inside-right-column ~ .footer {
    margin-left: 130px;
}

.left-margin {
    /*border: 1px solid;*/
    float: left;
    width: calc((100% - 940px) / 2 - 120px);
    /*background: url("/images/gray-pattern.png");*/
}
.page-margin-wrapper {
    margin: 0 auto;
    width: 940px;
}