﻿@using Kendo.Mvc.UI
@using OH.Net.Areas.Program

@using OH.Net.Areas.Program.Models
@model IEnumerable<OH.Net.Areas.Program.Controllers.vmMessage>
<div style="margin-left:20px;display:inline-block">
    <table>
        <tbody>
            <tr><td colspan="2" style="vertical-align:top"><h1 style="font-family:FSP-Bold;color:#083b5a">Dashboard</h1><p style="padding-left:5px;padding-bottom:10px;padding-top:10px"><i>Dashboard description</i></p></td></tr>
            <tr>
                <td style="vertical-align:top;margin:20px 20px">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height:auto;min-height:300px">
                                        <div class="widget-title">
                                            <h4>Announcements</h4></div>
                                            <script type="text/x-kendo-tmpl" id="template">
                                                <div class="announcement-view k-widget" style="border:radius:10px">
                                                    <table style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="edit-buttons">
                                                                        <div style="float:left">New Message</div>
                                                                        <div style="float:right"><a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr><td style="vertical-align:top;width:100px"><img src="../../@Url.Content("#= url #")"></td><td>@Html.Raw("#= Message #")</td></tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </script>
                                            @(Html.Kendo().ListView<OH.Net.Areas.Program.Controllers.vmMessage>(Model)
                                              .Name("listView")
                                              .TagName("div")
                                              .ClientTemplateId("template")
                                              .HtmlAttributes(new { style = "min-height:400px;min-width:580px;max-width:350px; margin-left: auto ;margin-right: auto ;" })
                                              .DataSource(dataSource => dataSource
                                                  .Model(model => model.Id("Id"))
                                                  //    .PageSize(6)
                                                  //    .Create(create => create.Action("Editing_Create", "ListView"))
                                                  .Read(read => read.Action("Read", "Dashboard")).PageSize(2)
                                                    //    .Update(update => update.Action("Editing_Update", "ListView"))
                                                    //    .Destroy(destroy => destroy.Action("Editing_Destroy", "ListView"))
                                              )
                                              .Pageable()
                                              .Editable()
                                            )

                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <div class="widget-title">
                                            <h4>Next Area</h4>
                                            </div>
                                            <table style="padding: 10px 10px; width: 100%;">
                                                <tbody>
                                                    <tr><td></td><td></td><td></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <div class="widget-title">
                                            <h4>Next Area</h4>
                                        </div>
                                            <table style="padding: 10px 10px; width: 100%;">
                                                <tbody>
                                                    <tr><td></td><td></td><td></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td rowspan="2" style="vertical-align:top">
                    <table>
                        <tbody>

                            <tr>
                                <td style="padding-left:20px;padding-bottom:10px">
                                    <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                        <div class="widget-title">
                                            <h4>You may also qualify for</h4>
                                            </div>
                                            <table style="padding: 10px 10px; width: 100%;">
                                                <tbody>
                                                    <tr><td></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;padding-bottom:10px">
                                    <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                        <div class="widget-title">
                                            <h4>Notifications</h4></div>
                                            <table style="padding: 10px 10px; width: 100%;">
                                                <tbody>
                                                    <tr><td></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<style>
    .edit-buttons {
        width: 100%;
        display: inline-block;
        min-height: 20px;
        border-bottom: 1px solid #ebebeb;
    }
    .announcement-view {
        position: relative;
        /*top: -45px;*/

    }
</style>