﻿
@section LeftMenu
{
    @Html.Partial("_PartialNav")
}


<div style=" margin-left: 20px;">
    


    <div id="displayContent">
        @{ Html.RenderAction("AdminDashboard", "Admin", new { area = "Administrator" }); }
    </div>

</div>