﻿@using Kendo.Mvc.UI
<script>
    $("#btnzoom").click(function (e) {
        $("#map").data("kendoMap").center([29.472779,-98.535643]);
        $("#map").data("kendoMap").zoom(8);
    });

</script>
<div style=" margin-left: 20px;">
    <div>
        <h1 style="font-family: FSP-Bold; color: #083b5a">
            Support Groups
        </h1>
    </div>
    <div>
        <div>
            <p style="padding-left: 5px; padding-bottom: 10px; padding-top: 10px">
                <i>Dashboard description</i>
            </p>
        </div>
    </div>
    <div>
        <div style="border: 1px solid gray;border-radius:4px;width:450px;margin-bottom:20px">
            
            <div class="div-table">
                <div class="div-table-caption">Search options</div>
                <div class="div-table-row">
                    <div class="div-table-col"><input type="text"  placeholder="Enter Zip code" /></div>
                </div>                    
                <div class="div-table-row" style="margin-bottom:10px;padding-bottom:10px">
                    <div class="div-table-col"><input type="button" name="btnzoom" id="btnzoom" class="k-button" value="Search" /></div>
                </div>                    
            </div>
        </div>
    </div>
    <div style="margin-right:40px">
        @(Html.Kendo().Map()
              .Name("map")
              .Center(35.366736, -94.414673)
              .Zoom(5)
              .Layers(layers =>
              {
                  layers.Add()
                      .Type(MapLayerType.Tile)
                      .UrlTemplate("http://tile2.opencyclemap.org/transport/#= zoom #/#= x #/#= y #.png")
                      .Subdomains("a", "b", "c")
                      .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>." +
                                   "Tiles courtesy of <a href='http://www.opencyclemap.org/'>Andy Allan</a>");

                  layers.Add()
                      .Type(MapLayerType.Marker)
                      .DataSource(dataSource => dataSource
                          .Read(read => read.Action("GroupLocations", "SupportGroups"))
                      )
                      .LocationField("LatLng")
                      .TitleField("Name");
              })
              )
    </div>
</div>
<style>
    .k-map .k-marker-pin-target{
        background-image: url('../../../../Content/kendo/2015.1.408/Default/markers.png') !important ; 
    }

    .div-table {
        display:table; 
        /*border:1px solid #003399;*/
        width:100%;
        border-radius:4px;
    }
    .div-table-caption {
        display:table-caption;
        padding: 10px;
        background:#ebebeb;
    }
    .div-table-row {
        clear:both;
        display:table-row;
        padding: 0;
        margin: 0;
        width:100%; 
        border-radius:4px;
        border: 1px solid #cccccc;
    }
    .div-table-col {
        clear:both;
        display:inline-block; 
        min-width: 100px;
        max-width: 50%;
        
        margin: auto; 
        padding-left: 10px; 
        padding-top: 10px; 
        /*border: 1px solid #003399;*/
    }
    .div-table-col-span {
        clear:both;
        display:inline-block;
        min-width: 300px;
        max-width: 350px;
        width: 350px;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        /*border: 1px solid #003399;*/
        /*width:50%;*/
        float:left;
    }
    .div-table-col-span2{
        clear:both;
        display:inline-block;
        min-width: 405px;
        max-width: 505px;
        width: 50%;
        margin: 0;
        padding: 0;
        /*border: 1px solid #003399;*/
        float:right;
    }
</style>