﻿@using Kendo.Mvc.UI
@using OH.Net.Areas.Program

@using OH.Net.Areas.Program.Models
@model IEnumerable<dynamic>
<div style="margin-left:20px">
    <table>
        <tbody>
            <tr><td colspan="2" style="vertical-align:top"><h1 style="font-family:FSP-Bold;color:#083b5a">Applications</h1><p style="padding-left:5px;padding-bottom:10px;padding-top:10px"><i>Applications description</i></p></td></tr>
            <tr><td style="vertical-align:top;margin:20px 20px">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-bottom:20px">
                                          <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                              <h4>In Progress</h4>
                                              @(Html.Kendo().Grid(Model)
                                              .Name("InProgressGrid")
                                              .HtmlAttributes(new {style = "position:relative;top:-40px"})
                                              .AutoBind(true)
                                              .DataSource(ds => ds.Ajax()
                                                          .Model(m => m.Field(x=>(Guid)x.Id))
                                        //.Model(m =>
                                        //{
                                        //    m.Id("ProductID");
                                        //    m.Field("ProductID", typeof(int));
                                        //    m.Field("ProductName", typeof(string));
                                        //    m.Field("UnitPrice", typeof(decimal));
                                        //    m.Field("QuantityPerUnit", typeof(string));
                                        //})
                                .Read(r => r.Action("Read", "ProgamHome"))
                                .Update(u => u.Action("Update", "Home"))
                                .Destroy(u => u.Action("Destroy", "Home"))
                                .Create(u => u.Action("Create", "Home"))
                        )
                        .ToolBar(toolBar => toolBar.Create())
                        //.Columns(columns =>
                        //{
                        //    columns.Bound("ProductID");
                        //    columns.Bound("ProductName");
                        //    columns.Bound("UnitPrice").Format("{0:c}");
                        //    columns.Bound("QuantityPerUnit");
                        //    columns.Command(command =>
                        //    {
                        //        command.Edit();
                        //        command.Destroy();
                        //    });
                        //})
                        //.Columns(cols =>
                                                    //{
                                                    //    cols.Bound(c => c.ProgramName).Title("Type").Width("200px");
                                                    //    cols.Bound(c => c.Status).Width("200px");
                                                    //    cols.Bound(c => c.SubmittedOn);
                                                    //}
                                                    )
                        
                                          </div>  
                                      </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <h4>Manage</h4>
                                        <table style="padding: 10px 10px; width: 100%;">
                                            <tbody>
                                                <tr><td></td><td></td><td></td></tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:20px">
                                    <div id="s" class="widget" style="display: inline-block; width:600px; height: auto;">
                                        <h4>Complete</h4>
                                        <table style="padding: 10px 10px; width: 100%;">
                                            <tbody>
                                                <tr><td></td><td></td><td></td></tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </td><td rowspan="2" style="vertical-align:top">
                         <table><tbody>
                                    
                                    <tr>
                                        <td style="padding-left:20px;padding-bottom:10px">
                                            <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                                <h4>You may also qualify for</h4>
                                                <table style="padding: 10px 10px; width: 100%;">
                                                    <tbody>
                                                        <tr><td></td></tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:20px;padding-bottom:10px">
                                            <div id="s" class="widget" style="display: inline-block; width:400px; height:300px;">
                                                <h4>Notifications</h4>
                                                <table style="padding: 10px 10px; width: 100%;">
                                                    <tbody>
                                                        <tr><td></td></tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                         </table>
                     </td>
            </tr>
        </tbody>
    </table>
    
</div>
<style>

</style>