﻿@using Kendo.Mvc.UI
@using OH.BLL.Models.WorkFlow

<script>
    function text(options) {
        //alert(options);
        var gantt = $("#gantt").data("kendoGantt");
        var selection = gantt.select();

        if (!selection.length) {
            alert("No item selected");
        } else {
            var dataItem = gantt.dataItem(selection);
            //alert(
            //    "'" + dataItem.id + "' is " +
            //    (dataItem.percentComplete * 100) + "% complete"
            //);
            openEditWindow(dataItem.id);
        }
        // gantt.refresh();
    }
    function openEditWindow(id) {
        var dialog = $("#dialog").data("kendoWindow");

        dialog.setOptions({
            width: 400,
            height: 450
        });
        dialog.open();
        dialog.refresh({
            url: "Workflow/Workflowitem",
            data: { itemId: id }
        });
    }
</script>

<div style=" margin-left: 20px;">
    <div>
        <h1 style="font-family: FSP-Bold; color: #083b5a">
            Workflow Management1
        </h1>
    </div>
    <div>
        <div>
            <p style="padding-left: 5px; padding-bottom: 10px; padding-top: 10px">
                <i>Dashboard description</i>
            </p>
        </div>
    </div>

    <div style="padding-left:20px">
        <div class="widget" style="width:900px;height:400px">
            @(Html.Kendo()
              .Gantt<WorkflowItemViewModel, WorkflowItemDependencyViewModel>((IEnumerable<WorkflowItemViewModel>)ViewBag.Tasks, (IEnumerable<WorkflowItemDependencyViewModel>)ViewBag.Dependencies)
              .Name("gantt")

              .Columns(columns =>
              {
                  columns.Bound(c => c.Id).Title("ID").Width(80);
                  columns.Bound("title").Editable(true).Sortable(true);
                  columns.Bound("start").Title("Start Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);
                  columns.Bound("end").Title("End Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);
              })
              .Views(views =>
              {
                  views.DayView();
                  views.WeekView(weekView => weekView.Selected(true));
                  views.MonthView();
              })
              .Height(600)
              .ShowWorkHours(false)
              .ShowWorkDays(false)
              .Snap(false)
              .Events(x =>
              {
                  x.Add("text");
                  x.Change("text");
              })
              .DataSource(d => d
                  .Model(m =>
                  {
                      m.Id(f => f.Id);
                      m.ParentId(f => f.ParentId);
                      m.OrderId(f => f.OrderId);
                      m.Field(f => f.Expanded).DefaultValue(true);

                  })
                  .Create("CreateTask", "Gantt")
                  .Destroy("DestroyTask", "Gantt")
                  .Update("UpdateTask", "Gantt")
              )
              .DependenciesDataSource(d => d
                  .Model(m =>
                  {
                      m.Id(f => f.Id);
                      m.PredecessorId(f => f.DependencyId);
                      m.SuccessorId(f => f.SuccessorId);
                      m.Type(f => f.Type);

                  })
                  .Create("CreateDependency", "Gantt")
                  .Destroy("DestroyDependency", "Gantt")
                  .Update("UpdateDependency", "Gantt")
              )
            )


        </div>
    </div>

    @(Html.Kendo().Window()
              .Name("dialog")
              .Width(415)
              .Title("Track item")
              .Actions(actions => actions.Close())
              .LoadContentFrom("WorkflowItem", "Workflow")
              .HtmlAttributes(new { style = "height:auto;" })
              .Modal(true)
              .Position(x =>
              {
                  x.Left(500);
                  x.Top(100);
              })
              .Visible(false)
    )
</div>
       
