﻿
@model OH.Net.Areas.Program.Controllers.DialogController.vmRegisterToolTip
<div class="sectionBlack">
    @*<img src="@Url.Content("~/content/web/foods/200/")@(ViewBag.id).jpg" alt="@ViewBag.Title" />*@
    <h4>@Model.ToolTip.Title</h4>
    <section>
    @Model.ToolTip.Body     
    </section>
</div>
<style>
    
</style>